main {
    @include media-sm {
        overflow: hidden
    }
    @include media-xs {
        overflow: hidden
    }
}
h1 {
    @include acuminProExtraCondBlack();
}
h2 {
    @include acuminProExtraCondBlack();
    font-size: 72px;
    line-height: 72px;
    letter-spacing: 3.6px;
    color: $white;
    font-style: normal;
    font-stretch: normal;
    text-transform: uppercase;
    @include media-xs {
        font-size: 64px;
        line-height: 64px;    
    }
}
h3 {
    @include acuminProExtraCondBlack();    
    font-size: 48px;
    line-height: 0.75;
    letter-spacing: 2.88px;
    color: $dark;
}
h4 {
    @include acuminProExtraCondBlack();    
    font-size: 36px;
    line-height: 1;
    letter-spacing: 1.8px;
    color: $dark;
}
h5 {
    
}
p {
    font-family: $roboto;
    font-size: 18px;
    font-style: normal;
    font-stretch: normal;
    letter-spacing: normal;
    line-height: normal;
    color: $dark;
}
a {
    position: relative;
    &:focus {
        outline: none;
        text-decoration: none;
    }
    &:hover {
        text-decoration: none;
        color: inherit;
    }
    &:active {
        outline: none;
        text-decoration: none;
    }
    &:visited {
        outline: none;
        text-decoration: none;
    }
}
.flex-row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    @include media-xs {
        display: initial;
        display: initial;
        display: block;
        -ms-flex-wrap: initial;
            flex-wrap: initial;
    }
    &:before,
    &:after {
        display: none;
        display: none;
    }
    > [class*='col-'] {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        @include media-xs {
            display: initial;
            display: initial;
            display: block;
            -webkit-box-orient: initial;
            -webkit-box-direction: initial;
            -ms-flex-direction: initial;
            flex-direction: initial;
        }
    }
}
// Buttons
.primary-btn {
    @include acuminProExtraCondBlack();
    background-color: transparent;
    color: $white;
    font-size: 30px;
    line-height: 30px;
    padding: 12px 52px 14px 52px;
    text-align: center;
    border-radius: 0;
    letter-spacing: 1.8px;
    position: relative;
    z-index: 1;
    border: 2px solid $white;
    display: inline-block;
    text-transform: uppercase;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
    text-transform: uppercase;
    &:hover {
        text-decoration: none;
        outline: 0;
        background-color: $white;
        color: $blue;
    }
    &:focus {
        text-decoration: none;
        outline: 0;
    }
    &:active {
        outline: 0;
    }
    @include media-xs-landscape {
        font-size: 48px;
        line-height: 48px;
        letter-spacing: 2.88px;
        padding: 12px 15px 14px 15px;
    }
    @include media-md {
        font-size: 24px;
        line-height: 24px;
        line-height: normal;
    }
    @include media-xs-portrait {
        font-size: 32px;
        line-height: 32px;
        padding: 12px 15px 14px 15px;        
    }
    &.white-btn {
        color: $blue;
        border-color: $blue;
        background-color: $white;
        &:hover {
            background-color: $blue;
            color: $white;
        }
    }
    &.blue-btn {
        color: $white;
        border-color: $blue;
        background-color: $blue;
        &:hover {
            background-color: $white;
            color: $blue;
        }
    }
    &.blue-border {
        border-color: $blue;
        color: $blue;
        &:hover {
            background-color: $blue;
            color: $white;
        }
    }
    &.green-border {
        border-color: #00b140;
        color: #00b140;
        &:hover {
            background-color: #00b140;
            color: $white;
        }
    }
}
.custom-link {
    text-transform: uppercase;
    font-family: $robotoSlabBold;
    font-size: 24px;
    line-height: 30px;
    color: $blue;
    position: relative;
    &:before {
        content: "";
        position: absolute;
        height: 2px;
        bottom: 0;
        right: 0;
        visibility: visible;
        width: 100%;
        -webkit-transition: all 0.3s ease-in-out 0s;
        -moz-transition: all 0.3s ease-in-out 0s;
        -ms-transition: all 0.3s ease-in-out 0s;
        -o-transition: all 0.3s ease-in-out 0s;
        transition: all 0.3s ease-in-out 0s;
        border-bottom: 2px dashed $blue;
    }
    &:hover {
        text-decoration: none;
        color: $blue;
        &:before {
            width: 0;
        }
    }
    &.add-icon {
        &:after {
            content: "";
            width: 14px;
            height: 14px;
            background-image: url("/App_Themes/Milk/images/external-icon.svg");
            background-size: cover;
            background-repeat: no-repeat;
            position: absolute;
            top: 9px;
            margin-left: 8px;
        }
    }
}
.container { 
    @media (max-width: 768px) {
        max-width: 100%;
    }
}
.modal-open {
    .modal {
        z-index: 99991;
    }
}
.modal-backdrop {
    z-index: 9999;
}
.video-modal {
    .modal-body {
        padding: 0;
        border-radius: 0;
    }
    .modal-dialog {
        &.modal-lg {
            max-width: 80%;
            @include media-lg {
                max-width: 70%;
            }            
            @include media-xs {
                max-width: 90%;
                margin: 30px auto;
            }
        }
    }
    .primary-btn {
        padding: 12px 45px 14px 45px;
    }
}