h1 {

}
h2 {
    font-family: $acuminProExtraCondBlack;
    font-size: 72px;
    line-height: 72px;
    letter-spacing: 3.6px;
    color: $white;
    font-style: normal;
    font-stretch: normal;
    text-transform: uppercase;
}
h3 {
    
}
h4 {
    
}
h5 {
    
}
p {
    font-family: $roboto;
    font-size: 18px;
    font-style: normal;
    font-stretch: normal;
    letter-spacing: normal;
    line-height: normal;
    color: $dark;
}
a {
    position: relative;
    &:focus {
        outline: none;
        text-decoration: none;
    }
    &:hover {
        text-decoration: none;
        color: inherit;
    }
    &:active {
        outline: none;
        text-decoration: none;
    }
    &:visited {
        outline: none;
        text-decoration: none;
    }
}
.flex-row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    @include media-xs {
        display: initial;
        display: initial;
        display: block;
        -ms-flex-wrap: initial;
            flex-wrap: initial;
    }
    &:before,
    &:after {
        display: none;
        display: none;
    }
    > [class*='col-'] {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        @include media-xs {
            display: initial;
            display: initial;
            display: block;
            -webkit-box-orient: initial;
            -webkit-box-direction: initial;
            -ms-flex-direction: initial;
            flex-direction: initial;
        }
    }
}
// Buttons
.primary-btn {
    font-family: $acuminProExtraCondBlack;
    background-color: transparent;
    color: $white;
    font-size: 30px;
    line-height: normal;
    padding: 13px 52px 7px 52px;
    text-align: center;
    border-radius: 0;
    letter-spacing: 1.8px;
    position: relative;
    z-index: 1;
    border: 2px solid $white;
    display: inline-block;
    text-transform: uppercase;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
    text-transform: uppercase;
    &:hover {
        text-decoration: none;
        outline: 0;
        background-color: $white;
        color: #0072ce;
        border-color: #0072ce;
    }
    &:focus {
        text-decoration: none;
        outline: 0;
    }
    &:active {
        outline: 0;
    }
    @include media-xs {
        font-size: 48px;
        letter-spacing: 2.88px;
    }
    @include media-sm {

    }
    @include media-md {
        font-size: 24px;
        line-height: normal;
        padding: 13px 22px 7px 22px;
    }
    @include media-xs-portrait {
        font-size: 32px;
        padding: 13px 32px 7px 32px;
    }
    &.white-btn {
        color: #0072ce;
        border-color: #0072ce;
        background-color: $white;
        &:hover {
            background-color: #0072ce;
            color: $white;
        }
    }
    &.blue-btn {
        color: $white;
        border-color: #0072ce;
        background-color: #0072ce;
        &:hover {
            background-color: $white;
            color: #0072ce;
        }
    }
    &.blue-border {
        border-color: #0072ce;
        color: #0072ce;
    }
}
.container { 
    @media (max-width: 768px) {
        max-width: 100%;
    }
}