.adverb-container {
    position: relative;
    width: 100%;
    height: 300px;
    font-size: 0;
    @include media-sm {
        height: auto;
    }
    @include media-xs {
        height: auto;
    }
    &.programs-adverb-container {
        margin-bottom: 158px;
        height: 279px;
        @include media-md {
            margin-bottom: 128px;            
        }
        @include media-sm {
            margin-bottom: 108px;  
            height: auto;
        }
        @include media-xs {
            margin-bottom: 90px;  
            height: auto;
        }
        .adverb-content {
            padding-left: 30px;
            @include media-xs-portrait {
                padding: 0 5px 70px 5px;
            }
            @include media-sm {
                padding: 10px 70px 70px 70px;
            }
            @include media-md {
                padding-left: 45px;
            }
            h2 {
                width: 65%;
                @include media-xs-portrait {
                    width: 100%;
                }
                @include media-sm {
                    width: 80%;
                }
                @include media-md {
                    width: 100%;
                }
            }
            .primary-btn {
                position: absolute;
                top: 110px;
                right: 0;
                @include media-xs {
                    position: relative;
                    top: initial; 
                }
                @include media-sm {
                    position: relative;
                    top: 10px; 
                }
                @include media-md {
                    position: relative;
                    top: 10px; 
                }
            }
            p {
                width: 70%;
                @include media-xs {
                    width: 100%;
                }
                @include media-sm {
                    width: 100%;
                }
                @include media-md {
                    width: 62%;
                }
            }
        }
    }
    .adverb-img-background {
        width: 100%;
        height: 100%;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        @include media-md {
            background-position: center right;
        }
        @include media-sm {
            background-position: center;
        }
        @include media-xs {
            background-position: center;
        }
    }
    &:after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.1);
    }
    p {
        color: $white;
    }
    .img-container {
        display: inline-block;
        width: 30%;
        vertical-align: top;
        @include media-md {
            width: 40%;
        }
        @include media-sm {
            width: 100%;
            text-align: center;
            margin-top: -100px;
        
        }
        @include media-xs {
            width: 100%;
            text-align: center;
            margin-top: -100px;
        
        }
        img {
            width: 452px;
            height: 302px;
            position: absolute;
            left: -90px;
            top: -50px;
            object-fit: cover;
            z-index: 9;
            @include media-md {
                width: 340px;
                height: 230px;
                left: 10px;
                top: -50px;
            }
            @include media-sm {
                position: relative;
                top: 0;
                left: 0;
                height: 320px;
            }
            @include media-xs {
                position: relative;
                top: 0;
                left: 0;
                width: 280px;
                height: 200px;
            }
        }
    }
    .adverb-content {
        display: inline-block;
        width: 70%;
        vertical-align: top;
        padding-top: 35px;
        position: relative;
        z-index: 99;
        padding-left: 45px;
        @include media-md {
            width: 60%;
        }
        @include media-sm {
            width: 100%;
            z-index: 999;
            padding: 10px 70px 70px 70px;
        }
        @include media-xs {
            width: 100%;
            z-index: 999;
            padding: 0 5px 70px 5px;
        }
        .primary-btn {
            width: 284px;
            display: inline-block;
            vertical-align: top;
            position: relative;
            top: 10px;
            background: rgba(0, 0, 0, 0.55);
            @include media-md {
                width: auto;
                padding: 13px 22px 7px 22px;
            }
            @include media-xs-landscape {
                width: 60%;
                padding: 13px 25px 7px 25px;
            }
            @include media-xs-portrait {
                width: 100%;
            }
        }
        p {
            width: 52%;
            padding-right: 31px;
            line-height: 30px;
            display: inline-block;
            vertical-align: top;
            font-family: $robotoLight;
            @include media-md {
                width: 62%;
                padding-right: 15px;
            }
            @include media-sm {
                width: 100%;
                font-size: 28px;
                line-height: 42px;
            }
            @include media-xs {
                width: 100%;
                padding-right: 15px;
            }
        }
        h2 {
            width: 80%;
            @include media-md {
                width: 100%;
                font-size: 66px;
                line-height: 66px;
            }
            @include media-xs-portrait {
                width: 100%;
                font-size: 62px;
                line-height: 62px;
                letter-spacing: 2px;
            }
        }
    }
}