.adverb-container {
    position: relative;
    width: 100%;
    height: 279px;
    font-size: 0;
    @include media-lg {
        // margin-top: 90px;
    }
    @include media-md {
        height: auto;
    }
    @include media-sm {
        height: auto;
    }
    @include media-xs {
        height: auto;
    }
    &.remove-bottom-spacing {
        margin-bottom: 0;
    }
    &.add-top-spacing {
        @include media-lg {
            margin-top: 90px;
        }
    }
    &.programs-adverb-container {
        margin-bottom: 158px;
        height: 279px;
        @include media-md {
            margin-bottom: 128px;  
            height: auto;          
        }
        @include media-sm {
            margin-bottom: 108px;  
            height: auto;
        }
        @include media-xs {
            margin-bottom: 90px;  
            height: auto;
        }
        &.remove-bottom-spacing {
            margin-bottom: 0;
        }
        &.small-bottom-spacing {
            margin-bottom: 90px;
            @include media-xs {
                margin-bottom: 70px;
            }
        }
        &.medium-bottom-spacing {
            margin-bottom: 132px;
            @include media-xs {
                margin-bottom: 82px;
            }
        }
        .adverb-content {
            padding-left: 30px;
            @include media-xs-portrait {
                padding: 0 5px 70px 5px;
            }
            @include media-xs {
                padding: 0 30px;
            }
            @include media-sm {
                padding: 10px 70px 70px 70px;
            }
            @include media-md {
                padding-left: 45px;
            }
            h2 {
                width: 65%;
                @include media-xs-portrait {
                    width: 100%;
                }
                @include media-sm {
                    width: 80%;
                }
                @include media-md {
                    width: 100%;
                }
            }
            .primary-btn {
                position: absolute;
                top: 110px;
                right: 0;
                @include media-xs {
                    position: relative;
                    top: initial; 
                    margin-bottom: 0;
                }
                @include media-sm {
                    position: relative;
                    top: 10px; 
                }
                @include media-md {
                    position: relative;
                    top: 10px; 
                }
            }
            p {
                width: 70%;
                @include media-xs {
                    width: 100%;
                }
                @include media-sm {
                    width: 100%;
                }
                @include media-md {
                    width: 60%;
                }
            }
        }
    }
    .adverb-img-background {
        width: 100%;
        height: 100%;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        @include media-md {
            background-position: center right;
            position: absolute;
            top: 0;
            left: 0;
        }
        @include media-sm {
            background-position: center;
            position: absolute;
            top: 0;
            left: 0;
        }
        @include media-xs {
            background-position: center;
            position: absolute;
            top: 0;
            left: 0;
        }
        &.desktop-img {
            @include media-xs {
                display: none;
            }
            @include media-sm {
                display: none;
            }
        }
        &.mobile-img {
            display: none;
            @include media-xs {
                display: block;
            }
            @include media-sm {
                display: block;
            }
        }
    }
    .adverb-inner-container {
        @include media-lg {
            position: absolute;
            top: 0;
            width: 100%;
        }
        width: 100%;
        top: 0;
        left: 0;
        transform: none;
        z-index: 999;
        position: relative;
        @include media-xs {
            padding: 0 10px 70px 10px;
        }
    }
    &:after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.1);
    }
    p {
        color: $white;
    }
    .img-container {
        display: inline-block;
        width: 30%;
        vertical-align: top;
        @include media-sm {
            width: 100%;
            text-align: left;
            margin-top: -100px;
        
        }
        @include media-xs {
            width: 100%;
            text-align: left;
            margin-top: -100px;
        
        }
        .desktop-img {
            @include media-sm {
                display: none;
            }
            @include media-xs {
                display: none;
            }
        }
        .mobile-img {
            @include media-md {
                display: none;
            }
            @include media-lg {
                display: none;
            }
        }
        img {
            height: 423px;
            position: absolute;
            bottom: -25px;
            left: -73px;
            object-fit: cover;
            z-index: 9;
            @include media-md {
                left: 0;
                bottom: 0;
                height: 302px;
            }
            @include media-sm {
                position: relative;
                top: 0;
                left: 35px;
                height: 320px;
            }
            @include media-xs {
                position: relative;
                top: 0;
                left: 15px;
                height: 230px;
            }
        }
    }
    .adverb-content {
        display: inline-block;
        width: 70%;
        vertical-align: top;
        padding-top: 31px;
        position: relative;
        z-index: 99;
        padding-left: 45px;
        @include media-md {
            // width: 60%;
            padding-bottom: 20px;
        }
        @include media-sm {
            width: 100%;
            z-index: 999;
            padding: 10px 70px 70px 70px;
        }
        @include media-xs {
            width: 100%;
            z-index: 999;
            padding: 0 30px;
        }
        .primary-btn {
            width: 284px;
            display: inline-block;
            vertical-align: top;
            position: relative;
            top: 10px;
            background: rgba(0, 0, 0, 0.55);
            padding: 12px 40px 14px 40px;
            @include media-md {
                width: auto;
                padding: 12px 22px 14px 22px;
            }
            @include media-xs-landscape {
                width: 60%;
                padding: 12px 25px 14px 25px;
            }
            @include media-xs-portrait {
                width: 100%;
                padding: 12px 10px 14px 10px;
            }
            &:hover {
                background-color: $white;
                color: #54585a;
            }
        }
        p {
            width: 52%;
            padding-right: 31px;
            line-height: 30px;
            display: inline-block;
            vertical-align: top;
            font-family: $robotoLight;
            @include media-md {
                width: 60%;
                padding-right: 15px;
            }
            @include media-sm {
                width: 100%;
                font-size: 28px;
                line-height: 42px;
            }
            @include media-xs {
                width: 100%;
                padding-right: 15px;
            }
        }
        h2 {
            width: 80%;
            margin-bottom: 3px;
            @include media-md {
                width: 100%;
                font-size: 66px;
                line-height: 66px;
            }
            @include media-xs {
                margin-top: -10px;
            }
            @include media-xs-portrait {
                width: 100%;
                font-size: 62px;
                line-height: 62px;
                letter-spacing: 2px;
            }
        }
    }
}