.cta-info-container {
    display: inline-block;
    width: calc(100% / 2 - 15px); 
    padding-right: 20px;
    margin-bottom: 100px;
    vertical-align: top;
    @include media-xs {
        padding-right: 0;
        width: 100%;
        margin-bottom: 50px;
    } 
    @include media-sm {
        padding-right: 0;
    } 
    &:nth-child(odd) {
        margin-right: 19px;
        @include media-xs {
            margin-right: 0;
        }
    }
    h4 {
        text-transform: uppercase;
        margin: -8px 0 3px 0;
    }
    p {
        font-family: $robotoLight;
        line-height: 30px;
    }
    .primary-btn {
        margin-top: 14px;
        @include media-xs {
            width: 100%;
        }
        @include media-xs-landscape {
            width: 60%;
            padding: 12px 15px 14px 15px;
            margin: 10px auto 0 0;
        }
    }
}
.info-full-width-container {
    padding: 50px 0;
    text-align: center;
    background-color: rgba(84, 88, 90, 0.05);
    &.blue-background {
        background-color: #1471c8;
        .primary-btn {
            margin-top: 31px;
            @include media-xs-landscape {
                width: 60%;
            }
        }
    }
    &.white-text {
        h4 {
            color: $white;
        }
        p {
            color: $white;
        }
    }
    &.info-list-container {
        text-align: left;
        padding: 50px 0 57px 0;
        @include media-xs {
            padding: 50px 30px 20px 30px;
        }
        h4 {
            margin-bottom: 19px;
        }
        ul {
            list-style: none;
            margin: 0;
            padding: 0 10px 0 0;
            @include media-xs {
                padding: 0 15px 0 0;
            }
            li {
                font-family: $robotoLight;
                line-height: 30px;
                font-size: 18px;
                color: $white;
                position: relative;
                padding-left: 17px;
                margin-bottom: 25px;
                &:before {
                    content: "";
                    color: $blue;
                    display: inline-block;
                    border: 1px solid $blue;
                    border-radius: 100%;
                    width: 8px;
                    height: 8px;
                    position: absolute;
                    top: 10px;
                    left: 0;
                }
            }
        }
        &.blue-background {
            ul {
                li {
                    &:before {
                        border: 1px solid #ffc600;
                    }
                }
            }
        }
        .left-side {
            vertical-align: top;
            display: inline-block;
            margin-right: 30px;
            width: calc(100% / 2 - 30px);
            @include media-xs {
                margin-right: 0;
                width: 100%;
            }
        }
        .right-side {
            vertical-align: top;
            display: inline-block;
            width: calc(100% / 2 - 30px);
            @include media-xs {
                width: 100%;
            }
        }
    }
    @include media-xs {
        padding: 50px 30px;
    }
    h4 {
        color: #54585a;
        text-transform: uppercase;
        margin: -8px 0 3px 0;
    }
    p {
        color: #54585a;
        line-height: 30px;
        font-family: $robotoLight;
        margin: 0;
    }
    .primary-btn {
        margin-top: 45px;
        @include media-xs {
            width: 100%;
        }
        @include media-xs-landscape {
            width: 85%;
            margin: 45px auto 0 auto;
            display: block;
            font-size: 40px;
            line-height: 40px;
            padding: 12px 20px 14px 20px;
        }
        @include media-xs-portrait {
            padding: 12px 5px 14px 5px;
            font-size: 28px;
            line-height: 28px;
        }
    }
}
.recommendation-container {
    margin-bottom: 159px;
    @include media-sm {
        margin-bottom: 100px;
    }
    @include media-xs {
        margin-bottom: 100px;
    }
    &.big-bottom-spacing {
        margin-bottom: 193px;
        @include media-xs {
            margin-bottom: 120px;
        }
    }
    &.add-top-border {
        span {
            border-top: 1px solid #b7b7b7;
            padding-top: 45px;
            margin-top: 98px;
            @include media-xs {
                padding-top: 25px;
                margin-top: 50px;
            }
        }
    }
    &.medium-bottom-spacing { 
        margin-bottom: 149px;
        @include media-xs {
            margin-bottom: 100px;
        }
    }
    &.small-bottom-spacing {
        margin-bottom: 109px;
        @include media-sm {
            margin-bottom: 60px;
        }
    }
    &.extra-small-bottom-spacing {
        margin-bottom: 20px;
    }
    &.mobile-bottom-spacing {
        @include media-xs {
            margin-bottom: 165px;
        }
    }
    &.small-content-width {
        .recommendation-content {
            p {
                width: 80%;
                @include media-md {
                    width: 100%;
                }
                @include media-xs {
                    width: 100%;
                }
            }
        }
    }
    &.img-over {
        .img-container {
            img {
                max-height: 407px;
                max-width: 471px;
                position: absolute;
                top: 0;
                right: 0;
                @include media-xs-portrait {
                    max-height: 237px;
                }
                @include media-sm {
                    width: initial;
                    height: initial;
                    object-fit: initial;
                }
                @include media-xs {
                    width: initial;
                    height: initial;
                    object-fit: initial;
                }
            }
        }
    }
    &.full-width-image {
        .img-container {
            height: auto;            
            max-height: 500px;
            @include media-sm {
                max-height: initial;
            }
            @include media-xs {
                max-height: initial;
            }
            img {
                height: 100%;
                width: 100%;
                object-fit: cover;
                @include media-sm {
                    height: auto;
                }
                @include media-xs {
                    height: auto;
                }
            }
        }
    }
    &.nutrition-content {
        .img-container {
            background-color: #ffc600;
            a {
                font-family: $robotoSlabBold;
                font-size: 18px;
                line-height: normal;
                color: $dark;
                margin-bottom: 6px;
                display: inline-block;            
                &:hover {
                    color: $dark;
                    &:after {
                        visibility: hidden;
                        width: 0;
                    }
                }
                &:after {
                    content: "";
                    position: absolute;
                    width: 100%;
                    height: 2px;
                    bottom: 0;
                    right: 0;
                    visibility: visible;
                    -webkit-transition: all 0.3s ease-in-out 0s;
                    -moz-transition: all 0.3s ease-in-out 0s;
                    -ms-transition: all 0.3s ease-in-out 0s;
                    -o-transition: all 0.3s ease-in-out 0s;
                    transition: all 0.3s ease-in-out 0s;
                    background-position: 0 0,0 100%,0 0,100% 0;
                    background-repeat: repeat-x;
                    background-size: 8px;
                    background-image: repeating-linear-gradient(90deg,#000000 0,#000000 50%,transparent 0,transparent),repeating-linear-gradient(90deg,#000000 0,#000000 50%,transparent 0,transparent),repeating-linear-gradient(180deg,transparent 0,transparent 50%,transparent 0,transparent),repeating-linear-gradient(180deg,transparent 0,transparent 50%,transparent 0,transparent);
                }
            }
            p {
                color: $dark;
                width: 210px;
                @include media-xs-portrait {
                    font-size: 30px;
                    line-height: 30px;
                    width: 120px;
                }
            }
            .suggestion-content {
                text-align: initial;
                padding-left: 30px;
                @include media-sm {
                    width: auto;
                }
                @include media-md {
                    width: auto;
                }
                @include media-xs {
                    padding-left: 15px;
                    padding-bottom: 20px;
                    width: auto;
                }
            }
        }
    }
    span {
        font-size: 30px;
        line-height: 30px;
        font-family: $robotoSlabBold;
        font-style: normal;
        font-stretch: normal;
        letter-spacing: normal;
        color: #55585a;
        text-transform: uppercase;
        margin-bottom: 15px;
        display: block;
        width: 100%;
        @include media-xs {
            margin-bottom: 20px;
        }
    }
    &.text-padding {
        .recommendation-content {
            margin-top: 173px;
            @include media-sm {
                margin-top: 50px;
            }
            @include media-xs {
                margin-top: 30px;
            }
        }
        .img-container {
            overflow: hidden;
            img {
                -webkit-transition: all .5s;
                -moz-transition: all .5s;
                -o-transition: all .5s;
                transition: all .5s;
            }
            &:hover {
                img {
                    -ms-transform: scale(1.05);
                    -moz-transform: scale(1.05);
                    -webkit-transform: scale(1.05);
                    -o-transform: scale(1.05);
                    transform: scale(1.05); 
                }      
            }
        }
    }
    .img-container {
        width: 657px;
        color: $dark;
        text-transform: uppercase;
        height: 370px;
        display: inline-flex;
        align-items: flex-end;
        position: relative;
        vertical-align: top;
        &:last-child {
            margin-right: 0;
        }
        @include media-sm {
            width: 100%;
        }
        @include media-xs {
            width: 100%;
        }
        @include media-xs-portrait {
            height: 215px;
        }
        p {
            @include acuminProExtraCondBlack();            
            font-size: 30px;
            line-height: 30px;
            letter-spacing: 0.9px;
            width: 210px;
            margin: 0 0 5px 0;
            color: $white;
            @include media-xs {
                width: auto;
                max-width: 100%;
            }
            @include media-sm {
                width: auto;
                max-width: 100%;
            }
            @include media-md {
                width: auto;
                max-width: 100%;
            }
        }
        img {
            max-width: 100%;
            max-height: 100%;
            margin: 0 0 0 auto;
            @include media-xs {
                width: 70%;
                object-fit: cover;
            }
            @include media-sm {
                width: 70%;
                object-fit: cover;
            }
            @include media-md {
                width: 70%;
                object-fit: cover;
            }
        }
        .suggestion-content {
            vertical-align: bottom;
            padding-left: 20px;
            padding-bottom: 23px;
            z-index: 99;
            text-align: center;
            @include media-xs {
                padding-left: 0;
                padding-bottom: 20px;
                width: 30%;
            }
            @include media-sm {
                padding-left: 0;
                width: 30%
            }
            @include media-md {
                padding-left: 0;
                width: 30%
            }
            p {
                @include media-xs-portrait {
                    font-size: 24px;
                    line-height: 24px; 
                }
            }
            .small-img {
                height: 129px;
                text-align: center;
                margin-bottom: 22px;
                @include media-xs-portrait {
                    height: 80px;
                }
                @include media-xs {
                    margin-bottom: 10px;
                }
                img {
                    @include media-md {
                        width: auto;
                    }
                    @include media-sm {
                        width: auto;
                    }
                    @include media-xs {
                        width: auto;
                    }
                }
            }
        }
    }
    .recommendation-content {
        vertical-align: top;
        display: inline-block;        
        width: calc(100% - 665px);
        padding-left: 12px;
        font-family: $robotoLight;
        font-size: 18px;
        font-style: normal;
        font-stretch: normal;
        letter-spacing: normal;
        line-height: 30px;
        color: $dark;
        @include media-sm {
            width: 100%;
            padding-left: 0;
            margin-top: 50px;
        }
        @include media-xs {
            width: 100%;
            margin-top: 30px;
            padding: 0 30px;
        }
        h2 {
            color: $dark;
            display: block;
            margin-bottom: 0;
            margin-top: -15px;
            @include media-md {
                word-break: break-word;
                font-size: 48px;
                line-height: 48px; 
                letter-spacing: 3.6px;
            } 
            @include media-xs {
                word-break: break-word;
                font-size: 48px;
                line-height: 48px;
            }      
        }
        h4 {
            text-transform: uppercase;
            margin: -8px 0 3px 0;
        }
        p {
            display: block;
            font-family: $robotoLight;
            line-height: 30px;
            margin-bottom: 32px;
            width: 95%;
            @include media-xs-portrait {
                width: 100%;
            }
        }
        .primary-btn {
            // min-width: 229px;
            // padding: 12px 15px 14px 15px;
            padding: 11.5px 49px 15.5px 49px;
            @include media-lg {
                margin-left: 2px;
            }
            @include media-xs-portrait {
                width: 100%;
                padding: 11.5px 5px 15.5px 5px;
            }
            @include media-xs-landscape {
                width: 60%;
                padding: 11.5px 22px 15.5px 22px;
            }
            @include media-md {
                padding: 11.5px 12px 15.5px 12px;
                width: 100%;
            }
        }
    }
}
.info-item-container {
    display: block;
    margin-bottom: 100px;
    z-index: 9;
    position: relative;
    @include media-sm {
        margin-bottom: 70px;
    }
    @include media-xs {
        display: flex;
        flex-flow: column;
        margin-bottom: 30px;
    }
    &.small-bottom-padding {
        margin-bottom: 50px;
    }
    &.remove-bottom-padding {
        margin-bottom: 0;
    }
    &.big-bottom-padding {
        margin-bottom: 150px;
        @include media-sm {
            margin-bottom: 100px;
        }
        @include media-xs {
            margin-bottom: 50px;
        }
    }
    &.left-content {
        .info-item-content {
            margin-right: 14px;
            @include media-xs {
                margin-right: 0;
            }
        }
        .info-item-additional-info {
            margin-left: -244px;
            @media (min-width: 1310px) and (max-width: 1380px) { 
                margin-left: -279px;
            }
            @media (min-width: 1250px) and (max-width: 1309px) { 
                margin-left: -309px;
            }
            @media (min-width: 1200px) and (max-width: 1249px) { 
                margin-left: -334px;
            }
            @include media-md {
                margin-left: 0;
            }
            @include media-sm {
                margin-left: 0;
            }
            @include media-xs {
                margin-left: 0;
            }
        }
    }
    &.right-content {
        .info-item-img-container {
            margin-right: 14px;
            @include media-xs {
                margin-right: 0;
            }
        }
    }
    &.full-width {
        .info-item-content {
            &:first-child {
                margin-right: 14px;
                @include media-xs {
                    margin-right: 0;
                }
            }
            &:nth-child(2) {
                margin-right: 14px;
                @include media-xs {
                    margin-right: 0;
                }
            }
        }
        h4 {
            margin-bottom: 35px;
            @include media-xs {
                margin-bottom: 20px;
            }
        }
    }
    h4 {
        text-transform: uppercase;
        margin: -8px 0 3px 0;
    }
    .info-item-content {
        display: inline-block;
        width: calc(100% / 2 - 11px);            
        vertical-align: top;
        transition: transform .3s linear;
        -webkit-transition: transform .3s linear;
        -moz-transition: transform .3s linear;
        -o-transition: transform .3s linear;
        @include media-xs {
            width: 100%;
            order: 2; 
            padding: 0 30px;
        }
        &.text-padding {
            margin-top: 65px;
            @include media-xs {
                margin-top: 0;
            }
        }
        &.big-text-padding {
            margin-top: 75px;
            @include media-xs {
                margin-top: 0;
            }
        }
        ul {
            list-style: none;
            margin: 0;
            padding: 0 40px 0 0;
            @include media-xs {
                padding: 0 15px 0 0;
            }
            li {
                font-family: $robotoLight;
                line-height: 30px;
                font-size: 18px;
                color: $dark;
                position: relative;
                padding-left: 17px;
                margin-bottom: 25px;
                &:before {
                    content: "";
                    color: $blue;
                    display: inline-block;
                    border: 1px solid $blue;
                    border-radius: 100%;
                    width: 8px;
                    height: 8px;
                    position: absolute;
                    top: 11px;
                    left: 0;
                }
            }
        }
        p {
            font-family: $robotoLight;
            line-height: 30px;
            a {
                position: relative;
                color: $blue;
                &:hover {
                    &:after {
                        visibility: hidden;
                        width: 0;
                    }
                }
                &:after {
                    content: "";
                    position: absolute;
                    width: 100%;
                    height: 1px;
                    bottom: 0;
                    right: 0;
                    visibility: visible;
                    -webkit-transition: all 0.3s ease-in-out 0s;
                    -moz-transition: all 0.3s ease-in-out 0s;
                    -ms-transition: all 0.3s ease-in-out 0s;
                    -o-transition: all 0.3s ease-in-out 0s;
                    transition: all 0.3s ease-in-out 0s;
                    background: $blue;
                }
            }
            span,
            .href-tag {
                color: $blue;
                font-size: 10px;
                text-decoration: underline;
                position: relative;
                top: -5px;
                left: 0;
            }
            .href-tag {
                &:after {
                    display: none;
                }
            }
        }
        .primary-btn {
            margin-top: 15px;
            @include media-xs {
                width: 100%;
            }
            @include media-xs-landscape {
                width: 60%;
                margin: 10px auto 0 auto;
                display: block;
            }
        }
    }
    .info-item-img-container {
        display: inline-block;
        width: calc(100% / 2 - 11px);
        vertical-align: top;
        overflow: hidden;
        @include media-xs {
            width: 100%;
            order: 1; 
            margin-bottom: 25px;
        }
        @include media-lmd {
            &:hover {
                img {
                    -ms-transform: scale(1.05);
                    -moz-transform: scale(1.05);
                    -webkit-transform: scale(1.05);
                    -o-transform: scale(1.05);
                    transform: scale(1.05);
                }
            }
        }
        img {
            max-width: 100%;
            max-height: 100%;
            object-fit: contain;
            -webkit-transition: all .5s;
            -moz-transition: all .5s;
            -o-transition: all .5s;
            transition: all .5s;
            &.info-item-desktop-img {
                @include media-xs {
                    display: none;
                }
            }
            &.info-item-mobile-img {
                @include media-lmd {
                    display: none;
                }
                @include media-sm {
                    display: none;
                }
                @include media-xs {
                    display: block;
                }
            }
        }
    }
}
.info-item-additional-info {
    border: 10px solid $mainColor;
    padding: 107px 46px 40px 134px;
    width: 927px;
    margin-left: -135px;
    margin-top: -70px;
    @media (min-width: 1310px) and (max-width: 1380px) { 
        margin-left: -100px;
    }
    @media (min-width: 1250px) and (max-width: 1309px) { 
        margin-left: -64px;
    }
    @media (min-width: 1200px) and (max-width: 1249px) { 
        margin-left: -44px;
    }
    @include media-md {
        display: none;
        width: 100%;
        margin-top: 50px;
    }
    @include media-sm {
        display: none;
        width: 100%;
        margin-top: 30px;
        padding: 60px 46px 30px 46px;
    }
    @include media-xs {
        display: none;
        width: 100%;
        margin-top: 0;
        padding: 30px 20px 10px 20px;
        order: 3;
        border: 8px solid $mainColor;
    }
    h4 {
        text-transform: uppercase;
        margin-right: 80px;
        vertical-align: top;
        display: inline-block;
        max-width: 190px;
        @include media-sm {
            margin-right: 60px;
        }
        @include media-xs {
            margin-right: 0;
            width: 100%;
            max-width: 100%;
            margin-bottom: 0;
            font-size: 30px;
        }
    }
    p {
        font-family: $robotoLight;
        line-height: 30px;
        vertical-align: top;
        display: inline-block;
        width: calc(100% - 275px);
        margin-top: -7px;
        @include media-sm {
            width: calc(100% - 255px);            
        }
        @include media-xs {
            width: 100%;
            margin-top: 0;
        }
    }
    &.mobile-info-item-additional-info {
        @include media-lg {
            display: none;
        }
        @include media-md {
            display: block;
            margin-left: 0;
        }
        @include media-sm {
            display: block;
            margin-left: 0;
        }
        @include media-xs {
            display: block;
            margin-left: 0;
        }
    }
}
.additional-info-container {
    background-color: rgba(84, 88, 90, 0.05);
    padding: 100px 0 24px 0;
    @include media-sm {
        padding: 70px 0 0 0;
    }
    @include media-xs {
        padding: 70px 30px 50px 30px;
    }
    &.add-bottom-spacing {
        padding-bottom: 50px;
    }
    &.add-bottom-margin {
        margin-bottom: 159px;
        @include media-sm {
            margin-bottom: 125px;
        }
        @include media-xs {
            margin-bottom: 70px;
        }
    }
    .primary-btn {
        @include media-xs-landscape {
            margin: 10px auto 0 auto;
            display: block;
        }
    }
    h2 {
        color: $dark;
        width: 50%;
        margin: -68px 0 43px 0;
        @include media-xs {
            width: 100%;
            margin: -20px 0 28px 0;
        }
        @include media-xs-landscape {
            width: 80%;
        }
        @include media-sm {
            width: 80%;
            margin: -20px 0 28px 0;
        }
        @include media-md {
            width: 60%;
        }
    }
}
.advertisment-container {
    margin-bottom: 100px;
    height: 250px;
    @include media-xs {
        margin-bottom: 70px;
        height: auto;
    }
    @include media-sm {
        height: auto;
    }
    &.add-bottom-spacing {
        margin-bottom: 180px;
        @include media-xs {
            margin-bottom: 70px;
        }
    }
    &.small-bottom-spacing {
        margin-bottom: 65px;
        @include media-xs {
            margin-bottom: 46px;
        }
    }
    &.medium-bottom-spacing {
        margin-bottom: 123px;
        @include media-xs {
            margin-bottom: 143px;
        }
    }
    &.extra-medium-bottom-spacing {
        margin-bottom: 131px;
        @include media-xs {
            margin-bottom: 70px;
        }
    }
    &.big-bottom-spacing {
        margin-bottom: 142px;
        @include media-xs {
            margin-bottom: 70px;
        }
    }
    &.extra-big-bottom-spacing {
        margin-bottom: 190px;
        @include media-xs {
            margin-bottom: 160px;
        }
    }
    img {
        max-width: 100%;
        max-height: 100%;
        width: 100%;
        height: 250px;
        @include media-xs {
            height: auto;
        }
        @include media-sm {
            height: auto;
        }
    }
    .col-12 {
        @include media-xs {
            padding: 0 5px;
        }
    }
}
.subscribe-ad-container {
    position: relative;
    width: 100%;
    height: 424px;
    margin-bottom: 70px;
    @include media-xs {
        height: auto;
    }
    @include media-sm {
        height: auto;
    }
    &.big-bottom-spacing {
        margin-bottom: 118px;
        @include media-xs {
            margin-bottom: 70px;
        }
    }
    &.milk-up-subscribe-container {
        height: 362px;
        margin-bottom: 130px;
        @include media-xs {
            height: auto;
            margin-bottom: 0;
        }
        @include media-sm {
            height: auto;
            margin-bottom: 100px;
        }
        .subscribe-ad-img {
            &.mobile-img {
                @include media-sm {
                    background-position: top left;
                }
                @include media-xs {
                    background-position: top center;
                }
            }
        }
        .subscribe-ad-inner-container {
            padding-top: 110px;
            margin-right: -68px;
            @media (min-width: 1200px) and (max-width: 1500px) {
                text-align: right;
                margin-right: -35px;
            }
            @include media-md {
                text-align: right;  
                margin-right: -25px;          
            }
            @include media-sm {
                margin-right: 0;
                padding-top: 410px;
                padding-bottom: 43px;
            }
            @include media-xs {
                margin-right: 0;
                padding-top: 250px;
                padding-bottom: 25px;
            }
            .subscribe-ad-content {
                width: 410px;
                text-align: left;
                margin-right: 63px;
                @media (min-width: 1200px) and (max-width: 1500px) {
                    margin-right: 30px;                    
                }
                @include media-md {
                    margin-right: 5px;
                }
                @include media-sm {
                    width: 68%;
                    margin-right: 0;
                }
                @include media-xs {
                    width: 100%;
                    margin-right: 0;
                }
                h2 {
                    @include media-sm {
                        width: 90%;
                    }
                }
                p {
                    @include media-sm {
                        width: 90%;
                    }
                }
            }
            .primary-btn {
                margin-top: 5px;
            }
        }
    }
    .subscribe-ad-img {
        width: 100%;
        height: 100%;
        background-position: top left;
        background-repeat: no-repeat;
        background-size: cover;
        position: absolute;
        top: 0;
        left: 0;
        // @include media-sm {
        //     min-height: 1200px;
        //     z-index: 999;     
        //     position: relative; 
        // }
        @include media-sm {
            min-height: auto;            
            z-index: 999;  
        }
        @include media-xs {
            min-height: auto;            
            z-index: 999;  
        }
        &.desktop-img {
            @include media-xs {
                display: none;
            }
            @include media-sm {
                display: none;
            }
        }
        &.mobile-img {
            display: none;
            @include media-xs {
                display: block;
            }
            @include media-sm {
                display: block;
            }
        }
        &.center-position {
            background-position: center;
        }
        &.right-position {
            background-position: right;
        }
        &.left-position {
            background-position: left;
        }
    }
    .subscribe-ad-inner-container {
        padding-top: 144px;
        text-align: right;
        margin-right: 25px;
        @include media-xs {
            margin-right: 0;
            // padding-top: 70px;
            position: relative;
            z-index: 999;
            text-align: left;
            padding: 200px 30px;
            @include media-xs {
                padding: 140px 30px 180px 30px;
            }
        }
        @media (min-width: 1200px) and (max-width: 1500px) {
            text-align: left;
        }
        @include media-md {
            text-align: left;            
        }
        @include media-sm {
            margin-right: 0;
            // padding-top: 70px;
            position: relative;
            z-index: 999;
            text-align: left;
            padding-bottom: 200px;
            padding-top: 200px;          
        }
        .subscribe-ad-content {
            display: inline-block;
            width: 508px;
            text-align: left;
            margin-right: 25px;
            vertical-align: middle;
            @include media-xs {
                width: 100%;
                margin-right: 0;
            }
            @include media-sm {
                width: 70%;
                margin-right: 0;
            }
            p {
                color: $white;
                font-family: $robotoLight;
                font-size: 18px;
                line-height: 30px;
                margin: 0;
                @include media-xs {
                    margin-bottom: 15px;
                }
                @include media-sm {
                    margin-bottom: 15px;
                }
            }
            h2 {
                margin: -17px 0 0 0;
                @include media-xs-portrait {
                    margin: -10px 0 0 0;
                    font-size: 48px;
                    line-height: 48px;
                }
            }
        }
        .primary-btn {
            display: inline-block;
            background: rgba(0, 0, 0, 0.55);
            padding: 12px 48.5px 14px 48.5px;
            vertical-align: middle;
            margin-top: -10px;
            @include media-md {
                width: auto;
                padding: 12px 22px 14px 22px;
            }
            @include media-xs-landscape {
                width: 60%;
                padding: 12px 25px 14px 25px;
            }
            @include media-xs-portrait {
                width: 100%;
            }
            @include media-xs {
                margin-top: 0;
            }
            @include media-sm {
                margin-top: 0;
            }
            &:hover {
                background-color: $white;
                color: #54585a;
            }
            &.white-btn,
            &.white-suggestion-btn {
                color: $dark;
                border-color: $white;
                background-color: $white;
                &:hover {
                    background-color: $dark;
                    color: $white;
                }
            }
        }
    }
    &.add-border-bottom {
        margin-bottom: 153px;
        @include media-xs {
            margin-bottom: 90px;
        }
        &:after {
            content: "";
            position: absolute;
            bottom: -60px;
            left: 50%;
            -webkit-transform: translateX(-50%);
            -ms-transform: translateX(-50%);
            transform: translateX(-50%);
            border-bottom: 1px solid #54585a;
            max-width: 1110px;
            width: 100%;
            height: 1px;
            @include media-xs {
                max-width: 95%;
            }
            @include media-sm {
                max-width: 738px;
            }
            @include media-md {
                max-width: 930px;
            }
        }
    }
}
.cookies-container {
    background-color: rgba(0, 0, 0, 0.92);
    box-shadow: 0px -6px 15px 0 rgba(0, 0, 0, 0.35);
    padding: 43px 0px 45px 0px;
    border-radius: 3px;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    z-index: 9999;
    @include media-xs {
        padding: 25px 40px 65px 40px;
    }
    p {
        color: $white;
        line-height: 30px;
        vertical-align: top;
        margin: 0;
        font-family: $robotoLight;
        @include media-xs {
            font-size: 16px;
            line-height: 22px;
            margin-bottom: 35px;
        }
    }
    h3 {
        color: $white;
        text-transform: uppercase;
        margin: 0 0 5px 0;
        line-height: 48px;
        letter-spacing: 2.88px;
        @include media-xs {
            font-size: 40px;
            line-height: 44px;
        }
    }
    .cookies-content {
        padding-left: 28px;
        display: inline-block;
        width: 50%;
        margin-right: 88px;
        vertical-align: middle;
        @include media-sm {
            margin-right: 0;
        }
        @include media-md {
            margin-right: 40px;
        }
        @include media-xs {
            width: 100%;
            margin-right: 0;
            padding-left: 0;
        }
    }
    .btn-container {
        display: inline-block;
        vertical-align: middle;
        margin-top: -5px;
        @include media-xs {
            width: 100%;
        }
    }
    .primary-btn {
        display: inline-block;
        @include media-sm {
            padding: 12px 30px 14px 30px;
        }
        @include media-xs-portrait {
            width: 100%;
            display: block;
        }
        @include media-xs-landscape {
            padding: 12px 52px 14px 52px;
        }
        &:first-child {
            margin-right: 45px;
            @include media-sm {
                margin-right: 20px;
            }
            @include media-xs-portrait {
                margin-right: 0;
                margin-bottom: 30px;
            }
        }
        &.white-btn {
            color: $dark;
            border-color: $white;
            background-color: $white;
            &:hover {
                background-color: $dark;
                color: $white;
            }
        }
    }
    .close-cookie-icon {
        position: absolute;
        top: -72px;
        right: -55px;
        @include media-sm {
            right: 20px;
        }
        @include media-md {
            right: 20px;
        }
        @include media-xs {
            top: -50px;
            right: -15px;
        }
        img {
            width: 60px;
            height: 60px;
            object-fit: contain;
            cursor: pointer;
            -webkit-transition: all 0.3s ease;
            -moz-transition: all 0.3s ease;
            -ms-transition: all 0.3s ease;
            -o-transition: all 0.3s ease;
            transition: all 0.3s ease;
            z-index: 9;
            cursor: pointer;
            &:hover {
                opacity: 0.75;
            }
            @include media-xs {
                width: 50px;
                height: 50px;
            }
        }
    }
}