.cta-info-container {
    display: inline-block;
    width: calc(100% / 2 - 15px); 
    padding-right: 20px;
    margin-bottom: 100px;
    @include media-xs {
        padding-right: 0;
        width: 100%;
        margin-bottom: 50px;
    } 
    @include media-sm {
        padding-right: 0;
    } 
    &:nth-child(odd) {
        margin-right: 19px;
        @include media-xs {
            margin-right: 0;
        }
    }
    h4 {
        text-transform: uppercase;
        margin: 0;
    }
    p {
        font-family: $robotoLight;
        line-height: 30px;
    }
    .primary-btn {
        margin-top: 10px;
        @include media-xs {
            width: 100%;
        }
        @include media-xs-landscape {
            width: 60%;
        }
    }
}
.info-full-width-container {
    padding: 50px 0;
    text-align: center;
    background-color: rgba(84, 88, 90, 0.05);
    &.blue-background {
        background-color: #1471c8;
        .primary-btn {
            margin-top: 28px;
        }
    }
    &.white-text {
        h4 {
            color: $white;
        }
        p {
            color: $white;
        }
    }
    @include media-xs {
        padding: 60px 0;
    }
    h4 {
        color: #54585a;
        text-transform: uppercase;
        margin: 0;
    }
    p {
        color: #54585a;
        line-height: 30px;
        font-family: $robotoLight;
        margin: 0;
    }
    .primary-btn {
        margin-top: 40px;
        @include media-xs {
            width: 100%;
        }
        @include media-xs-landscape {
            width: 60%;
            margin: 10px auto 0 auto;
            display: block;
        }
    }
}
.recommendation-container {
    margin-bottom: 159px;
    @include media-sm {
        margin-bottom: 100px;
    }
    @include media-xs {
        margin-bottom: 100px;
    }
    &.small-bottom-spacing {
        margin-bottom: 109px;
        @include media-sm {
            margin-bottom: 60px;
        }
    }
    &.img-over {
        .img-container {
            img {
                max-height: 407px;
                max-width: 471px;
                position: absolute;
                top: 0;
                right: 0;
                @include media-xs-portrait {
                    max-height: 237px;
                }
                @include media-sm {
                    width: initial;
                    height: initial;
                    object-fit: initial;
                }
                @include media-xs {
                    width: initial;
                    height: initial;
                    object-fit: initial;
                }
            }
        }
    }
    &.nutrition-content {
        .img-container {
            a {
                font-family: $robotoSlabBold;
                font-size: 18px;
                line-height: normal;
                color: $dark;
                &:hover {
                    color: $dark;
                    &:after {
                        visibility: hidden;
                        -webkit-transform: scaleX(0);
                        -moz-transform: scaleX(0);
                        -ms-transform: scaleX(0);
                        -o-transform: scaleX(0);
                        transform: scaleX(0);
                    }
                }
                &:after {
                    content: "";
                    position: absolute;
                    width: 100%;
                    height: 2px;
                    bottom: 0;
                    left: 0;
                    visibility: visible;
                    -webkit-transform: scaleX(1);
                    -moz-transform: scaleX(1);
                    -ms-transform: scaleX(1);
                    -o-transform: scaleX(1);
                    transform: scaleX(1);
                    -webkit-transition: all 0.3s ease-in-out 0s;
                    -moz-transition: all 0.3s ease-in-out 0s;
                    -ms-transition: all 0.3s ease-in-out 0s;
                    -o-transition: all 0.3s ease-in-out 0s;
                    transition: all 0.3s ease-in-out 0s;
                    background-position: 0 0,0 100%,0 0,100% 0;
                    background-repeat: repeat-x;
                    background-size: 8px;
                    background-image: repeating-linear-gradient(90deg,#000000 0,#000000 50%,transparent 0,transparent),repeating-linear-gradient(90deg,#000000 0,#000000 50%,transparent 0,transparent),repeating-linear-gradient(180deg,transparent 0,transparent 50%,transparent 0,transparent),repeating-linear-gradient(180deg,transparent 0,transparent 50%,transparent 0,transparent);
                }
            }
            p {
                color: $dark;
            }
            .suggestion-content {
                text-align: initial;
                padding-left: 30px;
                @include media-xs {
                    padding-left: 15px;
                    padding-bottom: 20px;
                }
            }
        }
    }
    span {
        font-size: 30px;
        line-height: 30px;
        font-family: $robotoSlabBold;
        font-style: normal;
        font-stretch: normal;
        letter-spacing: normal;
        color: #55585a;
        text-transform: uppercase;
        margin-bottom: 15px;
        display: block;
        width: 100%;
    }
    .img-container {
        width: 657px;
        background-color: #ffc600;
        color: $dark;
        text-transform: uppercase;
        height: 370px;
        display: inline-flex;
        align-items: flex-end;
        position: relative;
        vertical-align: top;
        &:last-child {
            margin-right: 0;
        }
        @include media-sm {
            width: 100%;
        }
        @include media-xs {
            width: 100%;
        }
        @include media-xs-portrait {
            height: 215px;
        }
        p {
            font-family: $acuminProExtraCondBlack;
            font-size: 30px;
            line-height: 30px;
            letter-spacing: 0.9px;
            width: 210px;
            margin: 0;
            color: $white;
            @include media-xs {
                width: 120px;
            }
        }
        img {
            max-width: 100%;
            max-height: 100%;
            margin: 0 0 0 auto;
            @include media-sm {
                height: 100%;
                width: 100%;
                object-fit: cover;
            }
            @include media-xs {
                height: 100%;
                width: 100%;
                object-fit: cover;
            }
        }
        .suggestion-content {
            vertical-align: bottom;
            padding-left: 20px;
            padding-bottom: 28px;
            z-index: 99;
            text-align: center;
            @include media-xs {
                padding-left: 15px;
                padding-bottom: 20px;
            }
        }
    }
    .recommendation-content {
        vertical-align: top;
        display: inline-block;        
        width: calc(100% - 665px);
        padding-left: 12px;
        @include media-sm {
            width: 100%;
            padding-left: 85px;
            margin-top: 50px;
        }
        @include media-xs {
            width: 100%;
            margin-top: 55px;
        }
        @include media-xs-portrait {
            margin-top: 45px;
        }
        h2 {
            color: $dark;
            display: block;
            margin-bottom: 0;
        }
        p {
            display: block;
            font-family: $robotoLight;
            line-height: 26px;
            margin-bottom: 23px;
            width: 95%;
            @include media-xs-portrait {
                width: 100%;
            }
        }
        .primary-btn {
            @include media-xs-portrait {
                width: 100%;
            }
            @include media-xs-landscape {
                width: 60%;
            }
        }
    }
}