.cta-info-container {
    display: inline-block;
    width: calc(100% / 2 - 15px); 
    padding-right: 20px;
    margin-bottom: 100px;
    @include media-xs {
        padding-right: 0;
        width: 100%;
        margin-bottom: 50px;
    } 
    @include media-sm {
        padding-right: 0;
    } 
    &:nth-child(odd) {
        margin-right: 19px;
        @include media-xs {
            margin-right: 0;
        }
    }
    h4 {
        text-transform: uppercase;
        margin: 0;
    }
    p {
        font-family: $robotoLight;
        line-height: 30px;
    }
    .primary-btn {
        margin-top: 10px;
        @include media-xs {
            width: 100%;
        }
        @include media-xs-landscape {
            width: 60%;
        }
    }
}