.culinary-article-container {
    .btn-container {
        text-align: center;
        margin: 43px 0 110px 0;
        @include media-xs {
            margin: 30px 0 70px 0;
            padding: 0 30px;            
        }
        @include media-xs-landscape {
            text-align: left;
        }
        .primary-btn {
            @include media-xs-portrait {
                width: 100%;
            }
            @include media-xs-landscape {
                width: 60%;
            }
        }
    }
    .culinary-article-image-container {
        width: 100%;
        height: 450px;
        background-position: right;
        background-repeat: no-repeat;
        background-size: cover;
        &.desktop-banner-image {
            @include media-xs {
                display: none !important;
            }
        }
        &.mobile-banner-image {
            display: none !important;
            @include media-xs {
                display: block !important;
            }
        }
        &.center-position {
            background-position: center;
        }
        &.right-position {
            background-position: right;
        }
        &.left-position {
            background-position: left;
        }
        @include media-xs {
            height: 400px;
        }
        @include media-sm {
            height: 400px;
        }
    }
    .culinary-article-item-container {
        @include media-xs {
            padding: 0 30px;
        }
        .article-item-container {
            &:last-child {
                @include media-xs {
                    display: none;
                }
            }
            .article-item-content {
                @include media-xs {
                    padding: 0;
                }
            }
        }
    }
    .culinary-article-intro {
        width: 75.5%;
        margin-top: -53px;
        @include media-xs {
            margin-top: -35px;
        }
        @include media-sm {
            width: 95%;
        }
        @include media-xs {
            width: 100%;
            padding: 0 30px;
        }
        h2 {
            color: $dark;
            letter-spacing: 10px;
            font-size: 100px;
            line-height: 0.88;
            margin-bottom: 18px;
            position: relative;
            z-index: 9;
            @include media-xs {
                font-size: 64px;
                line-height: 64px;
                word-break: break-word;
            }
            &:before {
                content: "";
                background: rgba(255, 255, 255, 0.9);
                width: 100%;
                height: 206px;
                position: absolute;
                top: -11px;
                left: -26px;
                z-index: -9;
                @include media-xs {
                    width: calc(100vw - 50px);
                    left: -15px;
                    height: 106px;
                }
            }
        }
        span {
            display: block;
            color: $dark;
            font-size: 22px;
            line-height: 34px;
            font-family: $robotoMedium;
            @include media-xs {
                font-size: 20px;
                line-height: 28px;
            }
        }
        p {
            font-family: $robotoLight;
            width: 85.5%;
        }
        .primary-btn {
            margin: 18px 0 50px 0;
            @include media-xs-portrait {
                width: 100%;
                margin: 0 0 50px 0;
            }
        }
    }
}
.culinary-recipes-category-container {
    margin-bottom: 77px;
    .btn-container {
        text-align: center;
        @include media-xs {
            padding: 0 40px;
            .primary-btn {
                width: 100%;
            }
        }
    }
    .col-12 {
        @include media-xs {
            padding: 0;
        }
    }
    h3 {
        text-transform: uppercase;
        margin: -5px 0 2px 0;
        @include media-xs {
            line-height: 48px;
        }
    }
    .culinary-recipes-category-title {
        text-align: center;
        margin-bottom: 44px;
        padding-top: 50px;
        position: relative;
        @include media-xs {
            padding: 0 40px;
        }
        &:before {
            content: "";
            background: rgba(0, 0, 0, 0.25);
            height: 1px;
            width: calc(100% - 99px);
            position: absolute;
            top: 0;
            left: 49px;
            @include media-xs {
                display: none;
            }
        }
    }
    .culinary-recipes-category-inner-container {
        @include media-xs {
            overflow-x: scroll;
        }
    }
    .culinary-recipes-category-content {
        margin-bottom: 47px;
        text-align: center;
        display: flex;
        .slick-track,
        .slick-list {
            @include media-xs {
                display: flex;
            }
        }
        @include media-xs {
            display: inline-flex;
            padding-top: 30px;
        }
        .category-item {
            text-align: center;
            // display: inline-block;
            display: flex;
            flex-flow: column nowrap;
            justify-content: flex-end;
            align-items: center;
            flex: 1 1 0%;
            width: auto;
            position: relative;
            @include media-xs {
                min-width: 170px;
            }
            img {
                margin-bottom: 47px;
                height: 52px;
                max-width: 100%;
                z-index: 9;
                position: relative;
                -webkit-transition: all 0.3s ease;
                -moz-transition: all 0.3s ease;
                -o-transition: all 0.3s ease;
                transition: all 0.3s ease;
            }
            &.active {
                &:before {
                    background: #54585a;
                    opacity: 0.1;
                }
                &:hover {
                    &:before {
                        border: 5px solid transparent;
                        background: #54585a;
                    }
                }
                .normal-img {
                    display: none;                        
                }
                .active-img {
                    display: block;
                }
            }
            .active-img {
                display: none;
            }
            &:before {
                content: "";
                width: 140px;
                height: 140px;
                border-radius: 100%;
                -webkit-transition: all 0.3s ease;
                -moz-transition: all 0.3s ease;
                -o-transition: all 0.3s ease;
                transition: all 0.3s ease;
                position: absolute;
                top: -28px;
                left: 50%;
                -webkit-transform: translateX(-50%);
                -ms-transform: translateX(-50%);
                transform: translateX(-50%);
            }
            &:hover {
                &:before {
                    background: $white;
                    border: 5px solid $blue;
                }
            }
            &:first-child {
                img {
                    height: 54px;
                    margin: 0 auto 52px auto;
                }
            }
            &:nth-child(2) {
                img {
                    height: 76px;
                    margin: 0 auto 40px auto;
                }
            }
            &:nth-child(3) {
                img {
                    height: 52px;
                    margin: 0 auto 49px auto;
                }
            }
            &:nth-child(4) {
                img {
                    height: 73px;
                    margin: 0 auto 49px auto;
                }
            }
            h4 {
                line-height: 36px;
                text-transform: uppercase;
                margin: -8px 0 0 0;
            }
        }
    }
}
.culinary-carousel-container {
    margin-bottom: 100px;
    &.big-bottom-spacing {
        margin-bottom: 147px;
    }
    &.small-bottom-spacing {
        margin-bottom: 79px;
    }
    &.big-bottom-spacing {
        margin-bottom: 147px;
        @include media-xs {
            margin-bottom: 70px;
        }
    }
    @include media-xs {
        margin-bottom: 70px;
    }
    .col-12 {
        @include media-xs {
            padding: 0;
        }
    }
    &.remove-mobile-spacing {
        .culinary-carousel {
            @include media-xs {
                padding-left: 0;
            }
            .culinary-slide {
                .culinary-slide-content {
                    @include media-xs {
                        padding: 0 25px 0 40px;
                    }
                    span {
                        &:before {
                            @include media-xs {
                                width: calc(100vw - 70px);
                            }
                        }
                    }
                }
            }
        }
    }
    &.change-title-font {
        .culinary-carousel {
            .culinary-slide {
                .culinary-slide-content {
                    span {
                        font-size: 100px;
                        line-height: 0.88;
                        letter-spacing: 10px;
                        padding-right: 0;
                        margin-bottom: 20px;
                        @include media-xs {
                            font-size: 48px;
                            line-height: 48px;
                            letter-spacing: 3.6px;
                        }
                    }
                    .article-icon-info {
                        @include media-xs-portrait {
                            width: calc(100vw - 80px);
                        }
                        ul {
                            li {
                                @include media-xs-portrait {
                                    margin-right: 0px;
                                    margin-bottom: 10px;
                                }
                            }
                        }
                    }
                    .primary-btn {
                        @include media-xs-portrait {
                            width: calc(100vw - 80px);
                        }
                    }
                }
            } 
        }
        &.remove-mobile-spacing {
            .culinary-carousel {
                .culinary-slide {
                    .culinary-slide-content {
                        > span {
                            @include media-xs {
                                font-size: 48px;
                                line-height: 48px;
                                letter-spacing: 3.6px;
                            }
                        }
                    }
                }
            }
        }
    }
    .pause-btn {
        position: absolute;
        top: 568px;
        right: 312px;
        width: 45px;
        height: 46px;
        cursor: pointer;
        @include media-md {
            right: 170px;
            top: 470px;
        }
        @include media-sm {
            right: 45px;
        }
        @include media-xs {
            display: none;
        }
        @include media-sm {
            display: none;
        }
        @media (min-width: 1250px) and (max-width: 1299px) {
            right: 220px;                
        }
        @media (min-width: 1200px) and (max-width: 1249px) {
            right: 200px;              
        }
        &:after {
            content: "";
            width: 45px;
            height: 46px;
            background-size: cover;
            background-repeat: no-repeat;
            background-image: url('/App_Themes/Milk/images/btn-pause.svg');
            -webkit-transition: all 0.3s ease;
            -moz-transition: all 0.3s ease;
            -o-transition: all 0.3s ease;
            transition: all 0.3s ease;
            display: block;
        }
        &:hover {
            &:after {
                opacity: 0.8;
            }
        }
        &.hide-pause {
            -webkit-transition: all 0.2s ease;
            -moz-transition: all 0.2s ease;
            -o-transition: all 0.2s ease;
            transition: all 0.2s ease;
            opacity: 0;
            height: 0;
        }
    }
    &.small-culinary-carousel {
        .culinary-carousel {
            .culinary-slide {
                .culinary-slide-img {
                    height: 500px;
                    @include media-md {
                        height: 450px;                
                    }
                    @include media-sm {
                        height: 500px;
                    }
                    @include media-xs {
                        height: 450px;                
                    }
                    @include media-xs-landscape {
                        height: 550px;
                    }
                }
                .culinary-slide-content {
                    span {
                        font-size: 100px;
                        line-height: 0.88;
                        letter-spacing: 10px;
                        @include media-xs {
                            font-size: 48px;
                            line-height: 48px;
                            letter-spacing: 3.6px;
                            word-break: break-word;
                        }
                    }
                    p {
                        @include media-lg {
                            padding-right: 60px;
                        }
                    }
                    .primary-btn {
                        @include media-lg {
                            min-width: 240px;
                        }
                        @include media-xs-portrait {
                            width: calc(100vw - 80px);
                        }
                    }
                    .event-info-container {
                        text-align: center;
                        margin-top: 20px;
                        margin-bottom: 25px;
                        .event-info {
                            &:last-child {
                                margin-right: 0;
                            }
                            span {
                                font-family: $robotoLight;
                                color: $dark;
                                font-size: 18px;
                                line-height: 18px;
                                font-weight: 300;
                                letter-spacing: normal;
                                text-transform: initial;
                                padding-right: 0;
                                margin: 0;
                                &:before {
                                    display: none;
                                }
                                @include media-xs-portrait {
                                    font-size: 16px;
                                    line-height: 20px;
                                }
                            }
                            a {
                                max-width: 208px;
                                display: block;
                                font-size: 18px;
                            }
                            img {
                                margin: 0 auto 29px auto;
                            }
                        }
                    }
                }
            }
            .slick-dots {
                top: 500px;
                @include media-md {
                    top: 450px;          
                }
                @include media-sm {
                    top: 500px;
                }
                @include media-xs {
                    top: 361px;
                }
                @include media-xs-landscape {
                    top: 450px;
                }
            }
        }
        .pause-btn {
            top: 518px;
            cursor: pointer;
            @include media-md {
                top: 470px;
            }
        }
    }
    .culinary-carousel {
        width: 100%;
        @include media-xs {
            padding-left: 5px;
        }
        .culinary-slide {
            @include media-xs {
                width: 96.1vw;
                padding-right: 15px;
                height: auto;
            }
            .culinary-slide-img {
                width: 100%;
                height: 550px;                
                background-size: cover;
                background-repeat: no-repeat;
                background-position: center;
                position: relative;
                @include media-md {
                    height: 450px;                
                }
                @include media-sm {
                    height: 500px;
                }
                @include media-xs {
                    height: 450px;                
                }
                @include media-xs-landscape {
                    height: 550px;
                }
                .play-btn {
                    position: absolute;
                    bottom: 18px;
                    right: 197px;
                    width: 45px;
                    height: 46px;
                    cursor: pointer;
                    @include media-md {
                        right: 65px;
                    }
                    @include media-sm {
                        right: 45px;
                    }
                    @include media-xs {
                        display: none;
                    }
                    @include media-sm {
                        display: none;
                    }
                    @media (min-width: 1250px) and (max-width: 1299px) {
                        right: 107px;                
                    }
                    @media (min-width: 1200px) and (max-width: 1249px) {
                        right: 87px;              
                    }
                    &:after {
                        content: "";
                        width: 45px;
                        height: 46px;
                        background-size: cover;
                        background-repeat: no-repeat;
                        background-image: url('/App_Themes/Milk/images/btn-play.svg');
                        -webkit-transition: all 0.3s ease;
                        -moz-transition: all 0.3s ease;
                        -o-transition: all 0.3s ease;
                        transition: all 0.3s ease;
                        display: block;
                    }
                    &:hover {
                        &:after {
                            opacity: 0.8;
                        }
                    }
                    &.hide-play {
                        -webkit-transition: all 0.2s ease;
                        -moz-transition: all 0.2s ease;
                        -o-transition: all 0.2s ease;
                        transition: all 0.2s ease;
                        opacity: 0;
                        height: 0;
                    }
                }
                &.desktop-img {
                    @include media-xs {
                        display: none;
                    }
                    @include media-sm {
                        display: none;
                    }
                }
                &.mobile-img {
                    display: none;
                    @include media-xs {
                        display: block;
                    }
                    @include media-sm {
                        display: block;
                    }
                }
                &.center-position {
                    background-position: center;
                }
                &.right-position {
                    background-position: right;
                }
                &.left-position {
                    background-position: left;
                }
            }
            .culinary-slide-content {
                margin-left: 130px;
                width: 852px;
                @include media-md {
                    margin-left: 80px;
                    width: 70%;
                }
                @include media-sm {
                    margin-left: 40px;
                    width: 77%;
                }
                @include media-xs {
                    margin-left: 0;
                    width: 100%;
                    margin-top: -35px;
                    padding: 0 20px 0 30px;
                }
                span {
                    color: $dark;
                    @include acuminProExtraCondBlack();
                    text-transform: uppercase;
                    letter-spacing: 10px;
                    font-size: 72px;
                    line-height: 1;
                    letter-spacing: 6.34px;
                    margin-bottom: 5px;
                    position: relative;
                    z-index: 9;
                    padding-right: 50px;
                    margin-top: -60px;
                    display: block;
                    &:before {
                        content: "";
                        background: rgba(255, 255, 255, 0.9);
                        width: 100%;
                        // height: 106px;
                        height: 100%;
                        position: absolute;
                        top: -11px;
                        left: -26px;
                        z-index: -9;
                        @include media-xs {
                            left: -15px;
                            width: calc(100vw - 55px);
                            // height: 106px;
                        }
                        @include media-xs-landscape {
                            width: calc(100vw - 65px);
                        }
                    }
                    @include media-xs {
                        font-size: 48px;
                        line-height: 48px;
                        letter-spacing: 3.6px;
                        padding-right: 0;
                        margin-top: 0;
                    }
                    @include media-sm {
                        font-size: 64px;
                        line-height: 64px;
                    }
                }
                p {
                    font-family: $robotoLight;
                    font-size: 18px;
                    line-height: 30px;
                    padding-right: 50px;
                    @include media-xs {
                        padding-right: 0;
                    }
                }
                .article-icon-info {
                    border-top: 1px solid #cccccc;
                    margin-top: 40px;
                    padding-top: 18px;
                    margin-bottom: 25px;
                    width: 530px;
                    text-align: left;
                    @include media-xs {
                        width: calc(100vw - 70px);
                        text-align: center;
                        margin-top: 20px;
                        padding-top: 14px;
                        margin-bottom: 15px;
                    }
                    @include media-xs-portrait {
                        margin-bottom: 5px;
                    }
                    &:before {
                        display: none;
                    }
                    ul {
                        li {
                            margin-right: 25px;
                            &:last-child {
                                margin-right: 0;
                            }
                            @include media-xs-portrait {
                                margin-right: 5px;
                                    &:last-child {
                                        margin-right: 0;
                                    }
                            }
                            span {
                                font-family: $robotoLight;
                                color: $dark;
                                letter-spacing: -0.35px;
                                line-height: 19px;
                                font-size: 18px;
                                text-align: left;
                                text-transform: initial;
                                display: inline-block;
                                margin: 0;
                                vertical-align: top;
                                @include media-xs-portrait {
                                    line-height: 15px;
                                    font-size: 14px;
                                }
                                b {
                                    font-family: $robotoBold;
                                    text-align: left;
                                }
                                &:before {
                                    display: none;
                                }
                            }
                            &:before {
                                content: "";
                                margin-right: 5px;
                                @include media-xs-portrait {
                                    margin-right: 0;
                                }
                            }
                            &.prep-time {
                                &:before {
                                    width: 56px;
                                    height: 37px;
                                    @include media-xs-portrait {
                                        width: 40px;
                                        height: 26px;                                    
                                    }
                                }
                            }
                            &.cook-time {
                                span {
                                    position: relative;
                                    top: 4px;
                                }
                                &:before { 
                                    width: 35px;
                                    height: 41px;
                                    @include media-xs-portrait {
                                        width: 25px;
                                        height: 30px;
                                    }
                                }
                            }
                            &.yields {
                                position: relative;
                                top: -8px;
                                span {
                                    text-align: center;
                                }
                                &:before { 
                                    width: 64px;
                                    height: 29px;
                                    position: relative;
                                    top: 6px;
                                    @include media-xs-portrait {
                                        width: 44px;
                                        height: 20px;
                                    }
                                }
                            }
                        }
                    }
                }
                .primary-btn {
                    margin-top: 15px;
                    @include media-xs-portrait {
                        width: calc(100vw - 70px);
                    }
                    @include media-xs-landscape {
                        width: 60%;
                    }
                }
            }
        }
        .slick-list,
        .slick-track {
            // height: 100%;
            height: auto;
            @include media-xs {
                height: auto;
            }
        }
        .slick-dots {
            position: absolute;
            top: 550px;
            height: 25px;
            text-align: right;
            margin-top: 30px;
            padding-right: 171px;
            -webkit-transition: all 0.3s ease;
            -moz-transition: all 0.3s ease;
            -o-transition: all 0.3s ease;
            transition: all 0.3s ease;
            @media (min-width: 1250px) and (max-width: 1299px) {
                padding-right: 80px;                
            }
            @media (min-width: 1200px) and (max-width: 1249px) {
                padding-right: 60px;                
            }
            @include media-md {
                top: 450px;      
                padding-right: 40px;      
            }
            @include media-sm {
                padding-right: 20px;
                top: 500px;
            }
            @include media-xs {
                top: 361px;                
                padding-right: 0;
                margin-top: 0;
                text-align: center;
            }
            @include media-xs-landscape {
                top: 450px;
            }
        }
    }
    .slick-dots li {
        width: 25px;
        height: 25px;
        margin: 0 10px 0 0;
        &:before {
            display: none;
        }
        &:last-child {
            margin-right: 0;
        }
        border-radius: 25px;
        background: $white;
        position: relative;
        display: inline-block;
        -moz-backface-visibility: hidden;
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
        -moz-perspective: 1000;
        -webkit-perspective: 1000;
        perspective: 1000;
        -moz-transform: 0;
        -webkit-transform: 0;
        transform: 0;
        overflow: hidden;
      }
      .slick-dots li.slick-active span {
        display: block;
      }
      .slick-dots li:after {
        content: "";
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        border: 1px solid $blue;
        border-radius: 50%;
        z-index: 4;
      }
      .slick-dots li button:before {
          display: none;
      }
      .slick-dots li span {
        display: none;
      }
      .slick-dots li span:first-child {
        position: absolute;
        top: 0;
        left: 0;
        width: 50%;
        height: 100%;
        background: $blue;
        z-index: 1;
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
        -moz-transform-origin: 12.5px 50%;
        -ms-transform-origin: 12.5px 50%;
        -webkit-transform-origin: 12.5px 50%;
        transform-origin: 12.5px 50%;
      }
      .slick-dots li span:first-child + span {
        position: absolute;
        top: 0;
        right: 0;
        width: 50%;
        height: 100%;
        background: $white;
        z-index: 2;
      }
      .slick-dots li span:last-child {
        width: 50%;
        height: 110%;
        float: right;
        background: $blue;
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
        -moz-transform-origin: 0 50%;
        -ms-transform-origin: 0 50%;
        -webkit-transform-origin: 0 50%;
        transform-origin: 0 50%;
        position: relative;
        z-index: 3;
        opacity: 1;
      }
      .slick-dots li.start span:first-child {
        -moz-transition: -moz-transform 3s linear 3s;
        -o-transition: -o-transform 3s linear 3s;
        -webkit-transition: -webkit-transform 3s linear;
        -webkit-transition-delay: 3s;
        transition: transform 3s linear 3s;
        -moz-transform: rotate(180deg);
        -ms-transform: rotate(180deg);
        -webkit-transform: rotate(180deg);
        transform: rotate(180deg);
      }
      .slick-dots li.start span:last-child {
        opacity: 0;
        -moz-transition: -moz-transform 3s linear, opacity 0s 3s;
        -o-transition: -o-transform 3s linear, opacity 0s 3s;
        -webkit-transition: -webkit-transform 3s linear, opacity 0s;
        -webkit-transition-delay: 0s, 3s;
        transition: transform 3s linear, opacity 0s 3s;
        -moz-transform: rotate(180deg);
        -ms-transform: rotate(180deg);
        -webkit-transform: rotate(180deg);
        transform: rotate(180deg);
      }
}
  
.article-icon-info {
    text-align: center;
    position: relative;
    padding-top: 16px;
    &:before {
        content: "";
        height: 1px;
        background: #cccccc;
        top: 0;
        position: absolute;
    }
    ul {
        list-style: none;
        margin: 0;
        padding: 0;
        li {
            display: inline-block;
            margin-right: 10px;
            &:last-child {
                margin-right: 0;
            }
            @include media-xs-portrait {
                margin-right: 5px;
                &:last-child {
                    margin-right: 0;
                }
            }
            span {
                font-family: $robotoLight;
                color: $dark;
                letter-spacing: -0.35px;
                line-height: 16px;
                font-size: 14px;
                text-align: left;
                display: inline-block;
                @include media-xs-portrait {
                    line-height: 14px;
                    font-size: 12px;   
                }
                b {
                    font-family: $robotoBold;
                    display: block;
                }
            }
            &:before {
                content: "";
                margin-right: 5px;
                background-size: cover;
                background-repeat: no-repeat;
                display: inline-block;
                @include media-xs-portrait {
                    margin-right: 3px;
                }
            }
            &.prep-time {
                &:before {
                    background-image: url("/App_Themes/Milk/images/icon-culinary-prep-time.svg");
                    width: 39px;
                    height: 24px;
                    @include media-xs-portrait {
                        width: 35px;
                        height: 23px;
                    }
                }
            }
            &.cook-time {
                &:before { 
                    background-image: url("/App_Themes/Milk/images/icon-culinary-time.svg");
                    width: 20px;
                    height: 24px;
                    @include media-xs-portrait {
                        width: 18px;
                        height: 22px;
                    }
                }
            }
            &.yields {
                &:before { 
                    background-image: url("/App_Themes/Milk/images/icon-culinary-yields.svg");
                    width: 38px;
                    height: 17px;
                    position: relative;
                    top: -5px;
                    @include media-xs-portrait {
                        width: 35px;
                        height: 15px;
                    }
                }
            }
        }
    }
}
.newsletter-modal {
    .modal-header {
        padding: 0;
        border: none;
        position: absolute;
        top: -33px;
        right: 100px;
        @include media-sm {
            right: 80px;
        }
        @include media-xs {
            top: -28px;
            right: 15px;
        }
        img {
            width: 65px;
            height: 65px;
            object-fit: contain;
            cursor: pointer;
            -webkit-transition: all 0.3s ease;
            -moz-transition: all 0.3s ease;
            -ms-transition: all 0.3s ease;
            -o-transition: all 0.3s ease;
            transition: all 0.3s ease;
            z-index: 9;
            &:hover {
                opacity: 0.95;
            }
            @include media-xs {
                width: 55px;
                height: 55px;
            }
        }
    }
    .modal-dialog {
        max-width: 90%;
        margin: 0 auto;
        @include media-lg {
            max-width: 1330px;
        }
        @media (min-width: 1200px) and (max-width: 1350px) {
            max-width: 95%;             
        }
        @include media-xs {
            margin: 45px auto 0 auto;
            max-width: calc(100% - 20px);
        }
    }
    .modal-content {
        border: none;
        border-radius: 20px;
        margin-top: 58px;
        @include media-xs {
            border-radius: 10px;
            margin-top: 18px;
        }
    }
    .modal-body {
        -webkit-animation-delay: .5s;
        -moz-animation-delay: .5s;
        animation-delay: .5s;
        -webkit-animation-duration: 1s;
        animation-duration: 1s;
        -webkit-animation-fill-mode: both;
        animation-fill-mode: both;
        animation-name: fadeIn;
        padding: 0;
        border: 3px solid $white;
        border-radius: 20px;
        @include media-xs {
            @include media-xs {
                width: 100%;
                display: flex;
                flex-flow: column;
            }
        }
        .img-container {
            display: inline-block;
            vertical-align: top;
            width: 402px;
            height: 100%;
            @include media-md {
                width: 34%;
            }
            @include media-sm {
                width: 34%;
            }
            @include media-xs {
                width: 100%;
                height: auto;
                margin-right: 0;
                margin-bottom: 20px;
                padding: 0;
                order: 1;
            }
            .desktop-img {
                @include media-xs {
                    display: none;
                }
            }
            .mobile-img {
                display: none;
                @include media-xs {
                    display: block;
                }
            }
            img {
                max-width: 100%;
                max-height: 100%;
                object-fit: cover;
                width: 100%;
                border-top-right-radius: 17px;
                border-bottom-right-radius: 17px;
                @include media-sm {
                    width: auto;
                }
                @include media-md {
                    width: auto;
                }
                @include media-xs {
                    width: auto;
                    border-top-left-radius: 8px;
                    border-top-right-radius: 8px;
                    border-bottom-right-radius: 0;
                }
            }
        }
        .modal-inner-content {
            display: inline-block;
            vertical-align: top;
            width: calc(100% - 407px);
            border: none;
            border-radius: 0;
            padding: 50px 130px 100px 134px;
            @include media-md {
                padding: 50px 30px 70px 34px;
                width: 65%;
            }
            @include media-sm {
                width: 65%;
                padding: 50px 30px 70px 34px;
            }
            @include media-xs {
                width: 100%;
                height: auto;
                padding: 0 30px 50px 30px;
                order: 2;
            }
            h2 {
                color: $dark;
                text-transform: uppercase;
                margin: 0;
            }
            p {
                line-height: 30px;
                font-family: $robotoLight;
                margin-bottom: 35px;
            }
            span {
                display: block;
                font-size: 18px;
                line-height: 24px;
                &.position {
                    color: $blue;
                    font-family: $robotoSlabBold;
                    text-transform: uppercase;
                    margin: -3px 0 15px 0;
                }
                &.district {
                    color: $dark;
                    font-family: $robotoLight;
                    margin: -5px 0 25px 0;
                }
            }
            .form-container {
                .error-msg {
                    display: none;
                }
                .form-error {
                    .error-msg {
                        display: block;
                        font-size: 14px;
                        line-height: 16px;
                    }
                }
                .mandatory-field {
                    label {
                        &:after {
                            top: 3px;
                            font-size: 16px;
                            line-height: 16px;
                            margin-left: 1px;
                        }
                    }
                }
            }
            .additional-info {
                span {
                    font-size: 14px;
                    line-height: 20px;
                }
            }
        }
    }
    @-webkit-keyframes fadeInUp {
        from {
            opacity: 0;
        }
        to {
            opacity: 1;
        }
    }
    @keyframes fadeInUp {
        from {
            opacity: 0;
        }
        to {
            opacity: 1;
        }
    }
    .form-container {
        .form-group {
            margin-bottom: 40px;
        }
        label {
            font-size: 30px;
            color: $dark;
            text-transform: uppercase;
        }
        .agree-checkbox {
            width: 100%;
        }
        .custom-checkbox {
            letter-spacing: normal;
            font-size: 14px;
            line-height: 18px;
            text-transform: initial;
            @include media-xs {
                font-size: 20px;
                line-height: 26px;
            }
            &:first-child {
                margin-bottom: 25px;
            }
        }
    }
    .btn-container {
        text-align: center;
        margin-top: 55px;
        .primary-btn {
            min-width: 270px;
        }
    }
}