.background-image {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
    height: 100%;
    width: 100%;
}
.video-container {
    background-color: #54585a;
    margin: 0 0 176px 0;
    @include media-md {
        margin: 0 0 156px 0;
    }
    @include media-sm {
        margin: 0 0 126px 0;
    }
    @include media-xs {
        margin: 0 0 106px 0;
    }
    .container {
        @include media-xs {
            padding: 0;
        }
    }
}
.video-img-container {
    height: 768px;
    width: 100%;
    cursor: pointer;
    -webkit-transition: all .3s ease 0s;
    -moz-transition: all .3s ease 0s;
    -o-transition: all .3s ease 0s;
    transition: all .3s ease 0s;
    position: relative;
    @include media-md {
        height: 500px;
    }
    @include media-sm {
        height: 400px;
    }
    @include media-xs {
        height: 280px;
        padding-top: 60px;
    }
    @include media-xs-landscape {
        height: 380px;
    }
    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        @include media-xs {
            height: 100%;
        }
    }
    &:after {
        content: "";
        width: 70px;
        height: 70px;
        position: absolute;
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        background-image: url("/App_Themes/Milk/images/play.svg");
        background-repeat: no-repeat;
        background-size: cover;
        margin-top: -30px;
        -webkit-transition: all .3s ease 0s;
        -moz-transition: all .3s ease 0s;
        -o-transition: all .3s ease 0s;
        transition: all .3s ease 0s;
        @include media-xs-portrait {
            width: 45px;
            height: 45px;
        }
        @include media-xs-portrait {
            margin-top: 0;
        }
    }
    .primary-btn {
        position: absolute;
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        margin-top: 75px;
        @include media-xs-landscape {
            width: 421px;
        }
        @include media-xs-portrait {
            width: 305px;
        }
    }
    &:before {
        content: "";
        background-color: rgba(33, 38, 64, 0.62);
        -webkit-transform: scale(0);
        -moz-transform: scale(0);
        transform: scale(0);
        -webkit-transition: 0.2s linear;
        -moz-transition: 0.2s linear;
        transition: 0.2s linear;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 9;
    }
    &:hover {
        &:before {
            -webkit-transform: scale(1);
            -moz-transform: scale(1);
            transform: scale(1);
        }
    }
}
.recipes-carousel-container {
    position: relative;
    padding: 45px 0 153px 0;
    overflow: hidden;
    @include media-xs {
        padding: 45px 5px 100px 5px;
    }
    &:before {
        content: "";
        width: 100%;
        height: 321px;
        background: rgba(84, 88, 90, 0.15);
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
    }
    .recipes-carousel-intro {
        text-align: center;
        p {
            display: inline-block;
            width: 48%;
            font-size: 24px;
            font-family: $robotoLight;
            line-height: normal;
            vertical-align: top;
            text-align: left;
            @include media-xs {
                text-align: center;
                width: 100%;
            }
        }
        .primary-btn {
            display: inline-block;
            vertical-align: top;
            @include media-xs {
                text-align: center;
            }
            @include media-xs-portrait {
                width: 100%;
            }
            @include media-xs-landscape {
                width: 60%;
                display: block;
            }
        }
    }
    .recipes-carousel {
        margin: 35px 0  20px 0;
        overflow-x: scroll;
        -ms-overflow-style: none;  // IE 10+
        scrollbar-width: none;  // Firefox
        &::-webkit-scrollbar {
            width: 0px;
            background: transparent; 
            display: none;  // Safari and Chrome
        }
        &::-webkit-scrollbar-thumb {
            background: transparent;
        }
        @include media-xs {
            margin: 50px 0  45px 0;
        }
        .recipes-carousel-inner {
            display: inline-flex;
            padding-left: 15vw;
            overflow: auto;
            @include media-xs {
                padding-left: 10px;
            }
        }
        .recipes-slide {
            background-color: #ffc600;
            color: $dark;
            text-transform: uppercase;
            width: 522px;
            height: 352px;
            margin-right: 18px;
            display: flex;
            align-items: flex-end;
            overflow: hidden;
            position: relative;
            &:last-child {
                margin-right: 0;
                @include media-xs {
                    margin-right: 0;
                }
            }
            @include media-xs {
                margin-right: 10px;
            }
            a {
                font-family: $robotoSlabBold;
                font-size: 18px;
                line-height: normal;
                color: $dark;
                &:hover {
                    color: $dark;
                    &:after {
                        visibility: hidden;
                        -webkit-transform: scaleX(0);
                        -moz-transform: scaleX(0);
                        -ms-transform: scaleX(0);
                        -o-transform: scaleX(0);
                        transform: scaleX(0);
                    }
                }
                &:after {
                    content: "";
                    position: absolute;
                    width: 100%;
                    height: 2px;
                    bottom: 0;
                    left: 0;
                    visibility: visible;
                    -webkit-transform: scaleX(1);
                    -moz-transform: scaleX(1);
                    -ms-transform: scaleX(1);
                    -o-transform: scaleX(1);
                    transform: scaleX(1);
                    -webkit-transition: all 0.3s ease-in-out 0s;
                    -moz-transition: all 0.3s ease-in-out 0s;
                    -ms-transition: all 0.3s ease-in-out 0s;
                    -o-transition: all 0.3s ease-in-out 0s;
                    transition: all 0.3s ease-in-out 0s;
                    background-position: 0 0,0 100%,0 0,100% 0;
                    background-repeat: repeat-x;
                    background-size: 8px;
                    background-image: repeating-linear-gradient(90deg,#000000 0,#000000 50%,transparent 0,transparent),repeating-linear-gradient(90deg,#000000 0,#000000 50%,transparent 0,transparent),repeating-linear-gradient(180deg,transparent 0,transparent 50%,transparent 0,transparent),repeating-linear-gradient(180deg,transparent 0,transparent 50%,transparent 0,transparent);
                }
            }
            p {
                font-family: $acuminProExtraCondBlack;
                font-size: 30px;
                line-height: 30px;
                letter-spacing: 0.9px;
                width: 100px;
            }
            img {
                max-height: 352px;
                position: absolute;
                top: 0;
                right: 0;
            }
            .recipes-slide-content {
                vertical-align: bottom;
                padding-left: 19px;
                padding-bottom: 20px;
                z-index: 99;
            }
            &.white-text {
                color: $white;
                p {
                    color: $white;
                }
                a {
                    color: $white;
                    &:hover {
                        color: $white;
                    }
                    &:after { 
                        background-image: repeating-linear-gradient(90deg,#ffffff 0,#ffffff 50%,transparent 0,transparent),repeating-linear-gradient(90deg,#ffffff 0,#ffffff 50%,transparent 0,transparent),repeating-linear-gradient(180deg,transparent 0,transparent 50%,transparent 0,transparent),repeating-linear-gradient(180deg,transparent 0, transparent 50%,transparent 0,transparent);
                    }
                }
            }
        }
    }
    .recipes-carousel-controls {
        text-align: center;
        display: block;
        width: 791px;
        margin: 0 auto;
        @include media-xs {
            display: none;
        }
        @include media-sm {
            width: 80%;
        }
        input[type=range] {
            -webkit-appearance: none;
            width: 100%;
            margin: 0.8px 0; 
            height: 74px;
            &:focus {
                outline: none;
                outline-style: none;
                box-shadow: none;
                border-color: transparent; 
            }
            &::-webkit-slider-thumb {
                width: 74px;
                height: 50px;
                background: url("/App_Themes/Milk/images/ui-slider.svg");
                cursor: pointer;
                -webkit-appearance: none;
                margin-top: -22px;
                outline: none;
                border: none;              
            }
            &::-moz-range-thumb {
                width: 74px;
                height: 50px;
                background: url("/App_Themes/Milk/images/ui-slider.svg");        
                cursor: pointer; 
                margin-top: -22px;   
                -webkit-appearance: none;
                outline: none;
                border: none;               
            }
            &::-ms-thumb {
                width: 74px;
                height: 50px;
                background: url("/App_Themes/Milk/images/ui-slider.svg");        
                cursor: pointer;
                margin-top: -10px;
                -webkit-appearance: none;
                outline: none;
                border: none;
            }
            &::-ms-track {
                width: 100%;
                cursor: pointer;
                box-shadow: none;
                height: 15px;
                border-radius: 7.5px;
                box-shadow: inset 0px 1px 3px 0 rgba(0, 0, 0, 0.5);
                background-color: #f2f2f2; 
            }
            &::-moz-range-track {
                width: 100%;
                cursor: pointer;
                box-shadow: none;
                height: 15px;
                border-radius: 7.5px;
                box-shadow: inset 0px 1px 3px 0 rgba(0, 0, 0, 0.5);
                background-color: #f2f2f2; 
            }
            &::-webkit-slider-runnable-track {
                width: 100%;
                cursor: pointer;
                box-shadow: none;
                height: 15px;
                border-radius: 7.5px;
                box-shadow: inset 0px 1px 3px 0 rgba(0, 0, 0, 0.5);
                background-color: #f2f2f2; 
            }
        }
    }
}
.milk-info-container {
    position: relative;
    margin-bottom: -45px;
    padding-top: 60px;
    z-index: 99;
    @include media-xs {
        padding: 0;
    }
    @include media-sm {
        padding: 0;
    }
    .container {
        @include media-xs {
            padding: 0;
        }
        @include media-sm {
            padding: 0;
        }
    }
    &:before {
        content: "";
        width: 100%;
        height: 800px;
        position: absolute;
        top: 0;
        left: 0;
        background: #00358e;
        opacity: 0.8;
        @include media-sm {
            height: 70%;
        }
        @include media-xs {
            height: 53%;
        }
        @include media-xs-landscape {
            height: 56%;
        }
    }
    .primary-btn {
        margin-top: 15px;
        @include media-xs-portrait {
            width: 100%;
        }
        @include media-xs-landscape {
            width: 60%;
            display: block;
        }
    }
    .img-container {
        img {
            max-width: 100%;
            max-height: 100%;
            object-fit: contain;
        }
    }
    p {
        font-family: $robotoLight;
        line-height: 1.67;
    }
    h4 {
        margin-bottom: 0;
        text-transform: uppercase;
    }
    .full-width-info {
        width: 100%;
        margin-bottom: 60px;
        @include media-sm {
            display: flex;
            flex-flow: column;
            position: relative;
        }
        @include media-xs {
            display: flex;
            flex-flow: column;
            position: relative;
        }
        .img-container {
            display: inline-block;
            width: 648px;
            height: 489px;
            opacity: 0.84;
            vertical-align: top;
            img {
                @include media-xs {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
                @include media-sm {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }
            @include media-md {
                width: 64%;
            }
            @include media-sm {
                order: 1;  
                width: 100%;
                height: 540px;
            }
            @include media-xs {
                order: 1;  
                width: 100%;
                height: auto;
            }
        }
        .info-content {
            display: inline-block;
            width: 35%;
            vertical-align: top;
            padding-top: 35px;
            @include media-sm {
                order: 2;  
                width: 100%;
                padding: 0 70px;
                margin-top: -40px;
            }
            @include media-xs {
                order: 2; 
                width: 100%;
                padding: 0 20px;
                margin-top: -40px;
                text-align: center;
            }
            h2 {
                color: $white;
                z-index: 9;
                width: 145%;
                position: relative;
                margin-bottom: 25px;
                padding-bottom: 10px; 
                @include media-xs {
                    width: 100%;
                    margin-bottom: 20px;
                    padding-bottom: 20px;
                    text-align: left;
                }  
                @include media-sm {
                    width: 100%;
                    padding-right: 70px;
                    margin-bottom: 40px;
                    padding-bottom: 40px;
                } 
                @include media-md {
                    width: 180%;
                }
                &:after {
                    content: "";
                    height: 3px;
                    width: 67%;
                    background-color: #ffc600;
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    @include media-xs {
                        width: 100%;
                    }
                    @include media-md {
                        width: 54%;
                    }
                }             
            }
            p {
                color: $white;
                padding-right: 0;
                @include media-sm {
                    font-size: 22px;
                    width: 80%;
                }
                @include media-xs {
                    text-align: left;
                }
                @include media-xs-landscape {
                    width: 80%;
                }
            }
        }
    }
    .small-info-image {
        width: 387px;
        margin-bottom: 79px;
        margin-left: 131px;
        display: inline-block;
        vertical-align: top;
        @include media-xs {
            margin-bottom: 50px;
        }
        .img-container {
            height: 258px;
            width: 100%;
            margin-bottom: 30px;
            @include media-xs {
                height: auto;
                margin-bottom: 20px;
            }
        }
        @include media-md {
            margin-left: 74px;
        }
        @include media-sm {
            margin-left: 70px;
            width: calc(100% / 2 - 70px);
        }
        @include media-xs {
            width: 100%;
            padding: 0 20px;
            margin-left: 0;
        }
        &:last-child {
            @include media-sm {
                margin-left: 40px;
            }
        }
        @include media-xs-landscape {
            width: 75%;
        }
    }
}
.small-video-info {
    width: 423px;
    background-image: linear-gradient(100deg, rgba(95, 33, 103, 0.5), #0072ce), linear-gradient(to bottom, #0072ce, rgba(0, 114, 206, 0.9));
    padding: 50px 38px 69px 22px;
    margin-left: 117px;
    display: inline-block;
    vertical-align: top;
    position: relative;
    top: 44px;
    z-index: 99;
    @include media-md {
        margin-left: 60px;
    }
    @include media-sm {
        margin-left: 60px;
        width: calc(100% / 2 - 60px);
    }
    @include media-xs {
        width: 100%;
        padding: 50px 20px 70px 20px;
        margin-left: 0;
        text-align: center;
    }
    span {
        color: $white;
        text-transform: uppercase;
        @include media-xs {
            text-align: left;
            display: block;
        }
    }
    .primary-btn {
        margin-top: 15px;
        @include media-sm {
            display: block;
            padding: 13px 15px 7px 15px;
        }
        @include media-xs-landscape {
            width: 421px;
            padding: 13px 25px 7px 25px;
        }
        @include media-xs-portrait {
            width: 305px;
        }
    }
    p {
        font-family: $robotoLight;
        line-height: 1.67;
        color: $white;
        @include media-xs {
            text-align: left;
        }
    }
    h4 {
        color: $white;
        margin-bottom: 0;
        @include media-xs {
            text-align: left;
        }
    }
}