.milk-cookies-video-container {
    margin-top: -505px;
    margin-bottom: 43px;
    z-index: 9;
    position: relative;
    @include media-xs {
        margin-top: -115px;
        margin-bottom: 25px;
        padding: 0 10px;
    }
    @include media-xs-portrait {
        margin-top: -105px;
    }
    @include media-sm {
        margin-top: -205px;
    }
    &.video-container {
        background-color: transparent;
        .video-img-container {
            height: 606px;
            margin-bottom: 13px;    
            @include media-sm {
                height: auto;
            }  
            @include media-xs {
                height: auto;
            }          
            img {
                object-fit: initial;
            }
            .primary-btn {
                margin-top: 33px;
                @include media-xs {
                    margin-top: 70px;
                }
                @include media-sm {
                    margin-top: 67px;
                }
                @include media-md {
                    margin-top: 67px;
                }
            }
        }
        h4 {
            text-transform: uppercase;
            margin-bottom: 5px;
            padding-left: 10px;
            @include media-xs {
                padding: 0 30px;
            }
            @include media-xs-portrait {
                word-break: break-word;
            }
        }
        p {
            font-family: $robotoLight;
            color: $dark;
            padding-left: 5px;
            @include media-lg {
                padding-right: 15px;
            }
            @include media-xs {
                padding: 0 30px;
            }
        }
    }
}
.milk-cookies-divider-container {
    text-align: center;
    margin-bottom: 91px;
    @include media-xs {
        padding: 0 30px;
        margin-bottom: 30px;
    }
    &.active-divider {
        img {
            width: 100%;
        }
    }
    h4 {
        text-transform: uppercase;
        margin-bottom: 20px;
    }
    img {
        width: 100%;
    }
}
.partner-logo-container {
    text-align: center;
    margin-bottom: 97px;
    @include media-lmd {
        display: flex;
    }
    @include media-sm {
        display: flex;
    }
    @include media-xs-landscape {
        display: flex;
    }
    @include media-xs {
        padding: 0 30px;
        margin-bottom: 65px;
    }
    .partner-item {
        @include media-lmd {
            text-align: center;
            display: flex;
            flex-flow: column nowrap;
            justify-content: center;
            align-items: center;
            flex: 1 1 0%;
            width: auto;
            position: relative;
        }
        @include media-xs-landscape {
            text-align: center;
            display: flex;
            flex-flow: column nowrap;
            justify-content: center;
            align-items: center;
            flex: 1 1 0%;
            width: auto;
            position: relative;
        }
        @include media-sm {
            text-align: center;
            display: flex;
            flex-flow: column nowrap;
            justify-content: center;
            align-items: center;
            flex: 1 1 0%;
            width: auto;
            position: relative;
        }
        @include media-xs-portrait {
            margin-bottom: 30px;
            display: block;
            &:last-child {
                margin-bottom: 0;
            }
        }
        img {
            max-width: 100%;
            max-height: 100%;
            object-fit: contain;
            @include media-xs-portrait {
                max-width: 65%;
            }
        }
        &:nth-child(1n) {
            img {
                margin: 0 auto 0 0;
                @include media-xs {
                    margin: 0 auto;                
                } 
            }
        }
        &:nth-child(2n) {
            img {
                margin: 0 auto;                
            }
        }
        &:nth-child(3n) {
            img {
                margin: 0 0 0 auto;
                @include media-xs {
                    margin: 0 auto;                
                }                
            }
        }
    }
}
.milk-cookies-description {
    margin-bottom: 156px;
    margin-top: -13px;
    @include media-sm {
        margin-bottom: 125px;
    }
    @include media-xs {
        padding: 0 30px;
        margin-top: -45px;
        margin-bottom: 100px;
    }
    p {
        font-family: $robotoLight;
        font-size: 10px;
        line-height: 16px;
        color: #666666;
        margin: 0;
        @include media-lg {
            width: 95%;
        }
        @include media-xs {
            font-size: 12px;
            line-height: 18px;
        }
    }
}
.milkup-social-description {
    text-align: center;
    @include media-xs {
        padding: 0 30px;
    }
    h2 {
        color: $dark;
        @include media-xs-portrait {
            font-size: 56px;
            line-height: 56px;
        }
    }
    .social-container {
        margin: 24px 0 17px 0;
        @include media-xs {
            margin: 30px 0 45px 0;
        }
        img {
            width: 129px;
            height: 128px;
            -webkit-transition: all 0.3s ease;
            -moz-transition: all 0.3s ease;
            -ms-transition: all 0.3s ease;
            -o-transition: all 0.3s ease;
            transition: all 0.3s ease;
            @include media-xs-portrait {
                width: 79px;
                height: 78px;
            }
        }
        a {
            margin-right: 42px;
            &:last-child {
                margin-right: 0;
            }
            @include media-xs-portrait {
                margin-right: 20px;
            }
            &:hover {
                img {
                    opacity: 0.8;
                }
            }
        }
    }
    span {
        color: $dark;
        display: block;
        width: 100%;
        @include acuminProExtraCondBlack();
        font-size: 60px;
        line-height: 72px;
        text-transform: uppercase;
        margin-bottom: 136px;
        letter-spacing: 3px;
        @include media-sm {
            margin-bottom: 100px;
        }
        @include media-xs {
            margin-bottom: 90px;
            letter-spacing: 3.6px;
        }
        @include media-xs-portrait {
            font-size: 56px;
            line-height: 56px;
        }
    }
    p {
        font-family: $robotoLight;
        font-size: 12px;
        line-height: normal;
        color: $dark;
        margin-bottom: 32px;
        @include media-xs {
            text-align: left;
            margin-bottom: 80px;
        }
    }
}
.partners-container {
    h2 {
        color: $dark;
        margin-bottom: 43px;
        @include media-xs {
            position: absolute;
            left: 40px;
        }
        @include media-xs-portrait {
            font-size: 56px;
            line-height: 56px;
            top: 58px;            
        }
        @include media-xs-landscape {
            top: 45px;
        }
    }
    .partners-content-container {
        padding: 57px 0 51px 0;
        margin-bottom: 90px;
        position: relative;
        display: flex;
        @include media-sm {
            margin-bottom: 70px;
        }
        @include media-xs {
            margin-bottom: 50px;
            padding: 175px 0 40px 0;
        }
        @include media-xs-landscape { 
            padding: 155px 0 40px 0;
        }
        &:before {
            content: "";
            height: 100%;
            width: 100%;
            position: absolute;
            top: 0;
            left: 0;
            background-repeat: no-repeat;
            background-size: cover;
            background-image: url("/App_Themes/Milk/images/img-background-wood-1920-w@3x.png");
            z-index: -1;
            @include media-xs {
                background-image: url("/App_Themes/Milk/images/img-background-wood-720-w@3x.png");
            }
        }
        .partners-inner-container {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            position: relative;
            padding-bottom: 15px;
            @include media-xs {
                padding: 0 30px 15px 30px;
            }
            &:after {
                content: "";
                width: 530px;
                height: 5px;
                background-color: #ffc600;
                position: absolute;
                bottom: 0;
                left: 0;
                margin-left: 15px;
                @include media-xs {
                    display: none;
                }
                @include media-sm {
                    width: 450px;
                }
                @include media-md {
                    left: -40px;
                }
                @include media-lg {
                    left: -67px;
                }
            }
        }
        .partners-content-item {
            text-align: center;
            display: flex;
            flex-flow: row wrap;
            justify-content: center;
            align-items: flex-end;
            flex: 1 1 25%;
            flex-grow: 1;
            width: auto;
            position: relative;
            @include acuminProExtraCondBlack();
            font-size: 29.5px;
            line-height: 30px;
            letter-spacing: 1.77px;
            color: $dark;
            margin-bottom: 80px;
            @include media-xs {
                margin-bottom: 50px;
            }
            span {
                text-transform: uppercase;
                @include acuminProExtraCondBlack();
                font-size: 29.5px;
                line-height: 30px;
                letter-spacing: 1.77px;
                display: block;
                width: 100%;
            }
            img {
                margin-bottom: 15px;
            }
        }
    }
}
.milk-up-jarallax-container {
    margin-bottom: 105px;
    margin-top: -66px;
    @include media-xs {
        margin-bottom: 70px;
        margin-top: 70px;
        position: relative;
    }
    @include media-sm {
        margin-bottom: 70px;
        margin-top: 30px;
        position: relative;
    }
    .jarallax-container {
        height: 640px;
        position: relative;
        @include media-md {
            height: 500px;
        }
        @include media-sm {
            height: 400px;
        }
        @include media-xs {
            height: auto;
        }
        &:first-child {
            @include media-xs {
                margin-bottom: 75px;
            }
            .jarallax-content {
                left: -50px;
                top: -51px;
                @include media-md {
                    left: 0;
                }
                @include media-sm {
                    left: 15px;
                }
                @include media-xs {
                    left: 0;
                    top: 0;
                    margin-top: -100px;
                }
            }
        }
        &:nth-last-child(2) {
            .jarallax-content {
                right: 0;
                top: -275px;
                padding: 47px 38px 41px 49px;
                @include media-sm {
                    padding: 37px 28px 31px 35px;
                    right: 15px;
                }
                @include media-xs {
                    padding: 37px 28px 31px 35px;
                    margin-bottom: -30px;
                    top: 0;
                }
            }
            .jarallax {
                .jarallax-img {
                    // @include media-sm {
                    //     object-position: 0% 50% !important;
                    // }
                }
            }
        }
    }
    .jarallax {
        height: 100%;
        position: absolute;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        z-index: 0;
        @include media-xs {
            position: relative;
            height: auto;
        }
        .jarallax-img {
            @include media-xs {
                display: none;
            }
            @include media-sm {
                max-width: 100%;
                max-height: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
        .mobile-jarallax-img {
            @include media-lmd {
                display: none;
            }
            @include media-sm {
                display: none;
            }
            max-width: 100%;
            max-height: 100%;
            object-fit: contain;
        }
    }
    .full-bg-img-container {
        height: 423px;
        @include media-md {
            height: 350px;
        }
        @include media-sm {
            height: 350px;
        }
        @include media-xs {
            height: 100%;
            width: 100%;
            position: absolute;
            top: 0;
            left: 0;
            z-index: -1;
        }
        img {
            height: 100%;
            width: 100%;
            object-fit: cover;
        }
        .desktop-full-bg-img-container {
            @include media-xs {
                display: none;
            }
        }
        .mobile-full-bg-img-container {
            @include media-sm {
                display: none;
            }
            @include media-lmd {
                display: none;
            }
        }
    }
    .jarallax-container {
        .primary-btn {
            position: absolute;
            top: 50%;
            left: 57%;
            -webkit-transform: translate(-50%, -50%);
            -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
            margin-top: 45px;
            @include media-xs {
                margin-top: -117px;
                transform: translateX(-50%);
                left: 50%;
                top: initial;
            }
            @include media-xs-landscape {
                width: 421px;
                margin-top: -180px;
            }
            @include media-xs-portrait {
                width: calc(100% - 80px);
            }
            @include media-sm {
                margin-top: 67px;
                left: 50%;
            }
            @include media-md {
                margin-top: 67px;
            }
            &:hover {
                color: #54585a;
                background: $white;
                &:before {
                    background-image: url("/App_Themes/Milk/images/hover_btn_play_video.svg");
                }
            }
            &:before {
                content: "";
                width: 90px;
                height: 90px;
                position: absolute;
                top: -132px;
                left: 50%;
                -webkit-transform: translateX(-50%);
                -ms-transform: translateX(-50%);
                transform: translateX(-50%);
                background-image: url("/App_Themes/Milk/images/play.svg");
                background-repeat: no-repeat;
                background-size: cover;
                -webkit-transition: all .3s ease 0s;
                -moz-transition: all .3s ease 0s;
                -o-transition: all .3s ease 0s;
                transition: all .3s ease 0s;
                @include media-xs-portrait {
                    width: 50px;
                    height: 50px;
                    top: -80px;
                }
                @include media-xs-portrait {
                    margin-top: 0;
                }
            }
        }
    }
    .jarallax-content {
        width: 473px;
        position: absolute;
        padding: 47px 38px 52px 49px;
        background-image: linear-gradient(100deg, #13a8d3, #009bc5), linear-gradient(to bottom, #0072ce, #0072ce);
        z-index: 9;
        @include media-sm {
            padding: 35px 28px 35px 35px;            
        }
        @include media-xs {
            width: 100%;
            padding: 35px 28px 35px 35px;            
            position: relative;
        }
        p {
            color: $white;
            font-family: $robotoLight;
            margin: 0;
            line-height: 30px;
            @include media-xs {
                line-height: 24px;
            }
        }
        h4 {
            color: $white;
            text-transform: uppercase;
            letter-spacing: 1.8px;
            line-height: 34px;
        }
        span {
            color: $white;
            display: block;
            font-family: $robotoSlabBold;
            font-size: 18px;
            line-height: 18px;
            text-transform: uppercase;
        }
    }
}