
/*
#afterBeforeHidden{
    @include media-xs{
        border: none;
        background: transparent;
        margin-bottom: 200px;
    }
    &::after, &::before{
        @include media-xs{
            display: none;
        }
    }
}*/


.opt-out-info{
            font-size: 22px;
            font-family: $robotoLight;
            line-height: 1.55;
            letter-spacing: normal;
            text-align: left;
            max-width: 794px;
            min-height: 55px;
            margin-bottom: 103px;

            @include media-xs{
                margin-left: 68px;
                font-size: 30px;
                margin-right: 30px;
            }

            span{
                @include media-xs{
                    &:first-child{
                        display: block;
                        margin-bottom: 30px;
                    }
                }

            }
    }
    .opt-out-group-input{
        
        width: calc(464px + 37px + 51px + 73px + 95px);

        .opt-out-input{
            width: calc(464px + 37px + 51px);
            height: 55px;
            font-family: $robotoLight;
            font-size: 22px;
            font-weight: 300;
            font-style: normal;
            font-stretch: normal;
            line-height: 1.55;
            letter-spacing: normal;
            text-align: left;
            position: relative;
            margin-top: 53px;
            margin-left: 4px;

            @include media-xs{
                    margin-left: 68px;
                    font-size: 30px;
                    margin-right: 95px;
                    margin-top: 58px;
            }
        
        }
    }


// Buttons
    .opt-out-group-button{
        margin-top: 121px;
        margin-bottom: 159px;

        @include media-xs{
            margin-left: 84px;
        }

        .primary-btn{
            margin-right: 50px;

            @include media-xs{
                display: block;
                padding: 44px 0;
                width: 532px;
                margin-bottom: 50px;
                font-size: 45.5px;
            }
        }
    }
