.farmers-history-container {
    padding-bottom: 130px;
    @include media-xs {
        padding-bottom: 70px;
    }
    @include media-sm {
        padding-bottom: 100px;
    }
    .farmers-history-image-container {
        width: 100%;
        height: 400px;
        background-position: right;
        background-repeat: no-repeat;
        background-size: cover;
        &.desktop-banner-image {
            @include media-xs {
                display: none !important;
            }
        }
        &.mobile-banner-image {
            display: none !important;
            @include media-xs {
                display: block !important;
            }
        }
        &.center-position {
            background-position: center;
        }
        &.right-position {
            background-position: right;
        }
        &.left-position {
            background-position: left;
        }
    }
    .col-12 {
        @media (min-width: 1240px) {
            max-width: 108%;
            -ms-flex: 0 0 108%;
            flex: 0 0 108%;
        }
        @media (min-width: 1200px) and (max-width: 1239px) {
            max-width: 107%;
            -ms-flex: 0 0 107%;
            flex: 0 0 107%;
        }
    }
    .farmers-history-intro {
        position: relative;
        margin: -45px 0 20px 0;
        @include media-lg {
            margin: -45px 0 35px 0;
        }
        @include media-xs {
            padding: 0 30px;
        }
        &:before {
            content: "";
            background: rgba(255, 255, 255, 0.9);
            width: 67%;
            height: 160px;
            position: absolute;
            top: -11px;
            left: -28px;
            @include media-xs {
                width: calc(100% - 30px);
                left: 15px;
            }
        }
        h2 {
            width: 30%;
            color: $dark;
            z-index: 9;
            position: relative;
            font-size: 100px;
            line-height: 0.88;
            letter-spacing: 10px;
            @include media-lg {
                width: 25%;
            }
            @include media-xs-portrait {
                width: 55%;
                font-size: 80px;
            }
        }
    }
    .farmers-history-content {
        display: inline-block;
        width: 55%;
        vertical-align: top;
        padding-right: 8px;
        @include media-xs {
            width: 100%;
            padding: 0 30px;
        }
        @include media-sm {
            width: 100%;
        }
        @media (min-width: 1200px) and (max-width: 1239px) {
            width: 53%;
        }
        p {
            font-family: $robotoLight;
            line-height: 30px;
        }
    }
    .farmers-history-facts {
        display: inline-block;
        width: 44%;
        vertical-align: top;
        @include media-xs {
            width: 100%;
            padding: 0 30px;
        }
        @include media-xs-portrait {
            text-align: center;
        }
        @include media-sm {
            width: 100%;
        }
        @media (min-width: 1200px) and (max-width: 1239px) {
            width: 46%;
        }
        .facts-item {
            text-align: center;
            width: 249px;
            display: inline-block;
            margin-bottom: 12px;
            vertical-align: top;
            @include media-md {
                margin-bottom: 15px;
                width: 190px;
            }
            @include media-sm {
                width: calc(100% / 3 - 17px);
                margin-right: 20px;
            }
            @include media-xs {
                margin-bottom: 30px;
            }
            @include media-xs-portrait {
                width: 90%;
            }
            @include media-xs-landscape {
                width: calc(100% / 2 - 17px);
            }
            &:nth-child(odd) {
                margin-right: 26px;
                @include media-md {
                    margin-right: 20px;
                }
                @include media-sm {
                    margin-right: 20px;
                }
                @include media-xs {
                    margin-right: 0;
                }
                @include media-xs-landscape {
                    margin-right: 20px;
                }
            }
            &:last-child {
                @include media-sm {
                    margin-right: 0;
                }
                @include media-xs {
                    margin-right: 0;
                }
            }
            span {
                display: block;
                text-transform: uppercase;
                font-family: $robotoSlabBold;
                color: $blue;
                font-size: 48px;
                line-height: 48px;
                @include media-md {
                    font-size: 44px;
                    line-height: 44px;
                }
            }
            p {
                font-family: $robotoLight;
                font-size: 22px;
                line-height: 24px;
                margin-bottom: 0;
            }
        }
    }
}
.farmers-carousel-container {
    margin: 190px 0 130px 0;
    position: relative;
    padding-bottom: 150px;
    @include media-xs {
        padding-bottom: 50px;
        margin: 70px 0 70px 0;
    }
    @include media-sm {
        padding-bottom: 80px;
        margin: 140px 0 100px 0;
    }
    &:after {
        content: "";
        background: rgba(84, 88, 90, 0.1);
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 538px;
        z-index: -9;
        @include media-xs {
            height: 418px;
        }
    }
    .farmers-carousel-intro {
        margin: -15px 0 19px 0;
        @include media-xs {
            padding: 0 30px;
        }
        h2 {
            color: $dark;
            display: inline-block;
            width: 59%;
            margin: 0;
            @include media-md {
                width: 60%;
            }
            @include media-sm {
                width: 50%;
            }
            @include media-xs {
                width: 100%;
            }
            @include media-xs-landscape {
                width: 50%;
            }
        }
        p {
            display: inline-block;
            font-family: $robotoLight;
            line-height: 30px;
            width: 35%;
            margin-left: 17px;
            margin-bottom: 0;
            position: relative;
            top: 9px;
            @include media-xs {
                width: 100%;
                margin-left: 0;
                top: 0;
            }
            @include media-xs-landscape {
                width: 80%;
            }
            @include media-sm {
                width: 45%;
                margin-left: 20px;
            }
            @include media-md {
                margin-left: 42px;
            }
        }
    }
    .farmers-carousel-inner-container {
        .farmers-carousel {
            &.slick-slider {
                height: 100%;
            }
            .slick-track,
            .slick-list {
                height: 100%;
            }
            &.active-video {
                z-index: 9999;
                .small-video-info {
                    z-index: 9;
                    transition: opacity 1s ease;
                    -webkit-transition: opacity 1s ease;
                    -moz-transition: opacity 1s ease;
                    -o-transition: opacity 1s ease;
                }
            }
            .farmers-slide {
                position: relative;
                .farmers-slide-img {
                    width: 100%;
                    height: 100%;
                    background-size: cover;
                    background-repeat: no-repeat;
                    background-position: center;
                    @include media-xs {
                        height: 250px;
                    }
                }
                .story__video-container {
                    transition: opacity 1s ease;
                    -webkit-transition: opacity 1s ease;
                    -moz-transition: opacity 1s ease;
                    -o-transition: opacity 1s ease;
                    opacity: 0;
                    position: absolute;
                    top: 0;
                    bottom: 0;
                    left: 0;
                    right: 0;
                    width: 100%;
                    height: 100%;
                    background-color: black;
                    display: flex;
                    @include media-xs {
                        height: 250px;
                    }
                    .story__video {
                        width: 100%;
                        height: 100%;
                    }
                    .story__pause-btn {
                        position: absolute;
                        bottom: 8%;
                        left: 50%;
                        -webkit-transform: translateX(-50%);
                        -ms-transform: translateX(-50%);
                        transform: translateX(-50%);
                        color: transparent;
                        width: 20px;
                        height: 20px;
                        z-index: 10;
                        z-index: 99999999;
                        @include media-md {
                            bottom: 11%;
                        }
                        @include media-sm {
                            bottom: 12%;
                        }
                        @include media-xs {
                            bottom: -35px;
                            right: 40px;
                            left: initial;
                            transform: none;
                        }
                        img {
                            max-width: 100%;
                            max-height: 100%;
                        }
                    }
                    &.active {
                        z-index: 99;
                        opacity: 1;
                    }
                }
            }
            .small-video-info {
                bottom: 29px;
                top: initial;
                position: absolute;
                padding: 46px 38px 50px 49px;
                background-image: linear-gradient(100deg, rgba(95, 33, 103, 0.5), rgba(0, 114, 206, 0.6)), linear-gradient(to bottom, rgba(0, 114, 206, 0.6), rgba(0, 114, 206, 0.6));
                @include media-xs {
                    background-image: linear-gradient(100deg, rgba(95, 33, 103, 0.5), rgba(0, 114, 206, 1)), linear-gradient(to bottom, rgba(0, 114, 206, 1), rgba(0, 114, 206, 1));
                }
                h4 {
                    letter-spacing: 2.16px;
                    line-height: 44px;
                    margin-bottom: 32px;
                    margin-top: -8px;
                }
                .primary-btn {
                    margin-top: 20px;
                    @include media-xs-portrait {
                        width: 100%;
                    }
                    @include media-xs-landscape {
                        width: 60%;
                    }
                }
                p {
                    @include media-sm {
                        text-overflow: ellipsis;
                        overflow: hidden;
                        display: -webkit-box;
                        -webkit-line-clamp: 5;
                        -webkit-box-orient: vertical;
                    }
                }
                @include media-sm {
                    width: 55%;
                }
                @include media-xs {
                    width: 100%;
                    position: relative;
                    bottom: 0;
                    left: 0;
                    padding: 30px 40px 40px 40px;
                }
            }
        }
        .farmers-carousel-content {
            height: 748px;
            width: 100%;
            @media (min-width: 1200px) and (max-width: 1500px) {
                height: 600px;
            }
            @include media-md {
                height: 600px;
            }
            @include media-sm {
                height: 500px;
            }
            @include media-xs {
                width: calc(100% + 30px);
                margin-left: -15px;
                height: auto;
            }
        }
    }
    span {
        &.more-farmer-stories {
            display: block;
            font-family: $robotoLight;
            font-size: 18px;
            line-height: 18px;
            letter-spacing: normal;
            color: $dark;
            margin: 14px 0 0 0;
            @include media-xs {
                margin: 30px 0 0 0;
                padding: 0 30px;
            }
        }
    }
    .farmers-carousel-nav {
        margin: -3px -8.5px 0 -8.5px;
        height: 162px;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        @include media-xs {
            margin: 17px -5px 0 -5px;
            height: 174px;
        }
        .nav-video {
            &.active {
                border: 4px solid #0072ce;
                overflow: visible;
                @include media-xs {
                    border: 3px solid #0072ce;
                }
                &:before {
                    content: "";
                    position: absolute;
                    width: 0;
                    height: 0;
                    left: 50%;
                    -webkit-transform: translateX(-50%);
                    -ms-transform: translateX(-50%);
                    transform: translateX(-50%);
                    border: 18px solid transparent;
                    border-bottom-color: $blue;
                    top: -40px;
                    @include media-xs {
                        display: none;
                    }
                }
                .nav-video__overlay {
                    display: block;
                    @include media-xs {
                        display: none;
                    }
                }
                .nav-video__hover-overlay {
                    display: none;
                }
            }
            &:after {
                content: '';
                display: block;
                position: absolute;
                height: 100%;
                width: 100%;
                bottom: 0;
                background-image: linear-gradient(to bottom, transparent 0, #000 100%);
                z-index: 1;
            }
            .nav-video__hover-overlay {
                display: block;
                position: absolute;
                left: 10px;
                bottom: 10px;
                width: 150px;
                opacity: 0;
                -webkit-transition: opacity 0.4s ease;
                -moz-transition: opacity 0.4s ease;
                -o-transition: opacity 0.4s ease;
                transition: opacity 0.4s ease;
                z-index: 2;
                @include media-xs {
                    display: none;
                }
                p {
                    font-size: 14px;
                    line-height: 1.2;
                    font-family: $robotoLight;
                    color: $white;
                    margin: 0;
                }
                img {
                    width: 25px;
                    margin-bottom: 5px;
                }
            }
            @include media-lmd {
                &:hover {
                    .nav-video__hover-overlay {
                        opacity: 1;
                    }
                    width: 23%;
                }
            }
            @include media-sm {
                &:hover {
                    .nav-video__hover-overlay {
                        opacity: 1;
                    }
                    width: 23%;
                }
            }
            @include media-sm {
                height: 100px;
                overflow: hidden;
            }
            @include media-md {
                height: 130px;
                overflow: hidden;
            }
        }
        .nav-video__overlay {
            display: none;
            bottom: 10px;
            left: 15px;
            position: absolute;
            z-index: 9;
            @include media-xs {
                display: none;
            }
            p {
                font-size: 14px;
                line-height: 1.71;
                font-family: $robotoLight;
                color: $white;
                margin: 0;
            }
        }
        .farmers-nav {
            margin: 20px 8.5px 0 8.5px; 
            cursor: pointer;
            position: relative;
            -webkit-transition: width 0.5s ease;
            -moz-transition: width 0.5s ease;
            -o-transition: width 0.5s ease;
            transition: width 0.5s ease;
            width: 20%;
            display: inline-block;
            overflow: hidden;
            @include media-xs {
                margin: 0 5px 0 5px; 
                height: 174px;
                width: calc(100vw / 3 - 10px);
                overflow: hidden;
            }
            @include media-sm {
                height: 100px;
            }
            @include media-md {
                height: 130px;
            }
            video,
            img {
                display: block;
                width: 100%;
                height: 100%;
                object-fit: cover;
                @include media-xs {
                    position: absolute;
                    z-index: -1;
                    top: 0;
                    left: 0;
                    height: 100%;
                    object-fit: cover;
                }
            }
            .story__nav-thumbnail {
                position: absolute;
                top: 0;
                width: 100%;
                height: 100%;
                overflow: hidden;
                opacity: 1;
                -webkit-transition: opacity 0.4s ease;
                -moz-transition: opacity 0.4s ease;
                -ms-transition: opacity 0.4s ease;
                -o-transition: opacity 0.4s ease;
                transition: opacity 0.4s ease;
                z-index: 3;
                &.hidden {
                    opacity: 0;
                    -webkit-transition: opacity 0.4s ease;
                    -moz-transition: opacity 0.4s ease;
                    -ms-transition: opacity 0.4s ease;
                    -o-transition: opacity 0.4s ease;
                    transition: opacity 0.4s ease; 
                }
            }
            img {
                display: block;
                width: 100%;
                max-width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
    }
}