.qa-container {
    h2 {
        color: $dark;
        margin: -22px 0 11px 0;
        @include media-xs {
            padding: 0 30px;
        }
        @include media-xs-portrait {
            font-size: 58px;
            line-height: 58px;
        }
    }
    .info-item-container {
        &:last-child {
            margin-bottom: 50px;
        }
    }
}
.farmer-verification-container {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
    height: 100%;
    width: 100%;
    position: relative;
    margin-bottom: 145px;
    padding: 100px 0 83px 0;
    @include media-xs {
        margin-bottom: 100px;
        padding: 80px 30px 60px 30px;
    }
    @include media-sm {
        padding: 90px 0 70px 0; 
        margin-bottom: 100px;
    }
    &:before {
        content: "";
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        background: $blue;
        mix-blend-mode: multiply;
    }
    span {
        border: 5px solid #ffc600;
        border-right: none;
        border-left: none;
        padding: 31px 30px 49px 0;
        @include acuminProExtraCondBlack();
        font-size: 100px;
        line-height: 88px;
        letter-spacing: 10px;
        color: $white;
        font-style: normal;
        font-stretch: normal;
        display: block;
        margin-bottom: 45px;
        text-transform: uppercase;
        width: 48%;
        @include media-xs-portrait {
            width: 100%;
            font-size: 48px;
            line-height: 48px;
            word-break: break-word;
            padding: 31px 0;
            letter-spacing: 3.6px;
        }
        @include media-xs-landscape {
            width: 84%;
            font-size: 64px;
            line-height: 64px;
        }
        @include media-sm {
            width: 73%;
        }
        @include media-md {
            width: 58%;
        }
    }
    p {
        font-family: $robotoLight;
        line-height: 24px;
        color: $white;
        width: 61%;
        @include media-xs-portrait {
            width: 100%;
        }
        @include media-xs-landscape {
            width: 90%;
        }
        @include media-sm {
            width: 90%;
        }
        @include media-md {
            width: 72%;
        }
    }
    .farm-verification-item-container {
        margin-top: 50px;
        .farm-verification-item {
            display: inline-block;
            width: calc(100% / 3 - 3px);
            vertical-align: top;
            padding-right: 10px;
            @include media-xs {
                width: 100%;
                margin-bottom: 50px;
                &:last-child {
                    margin-bottom: 0;
                }
            }
            h4 {
                text-transform: uppercase;
                color: $white;
                margin: -8px 0 3px 0;
            }
            p {
                color: $white;
                font-family: $robotoLight;
                width: 100%;
            }
        }
    }
}