.qa-container {
    h2 {
        color: $dark;
        margin-top: -22px;
        @include media-xs {
            margin-top: 0;
        }
    }
    .info-item-container {
        &:last-child {
            margin-bottom: 50px;
        }
    }
}
.farmer-verification-container {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
    height: 100%;
    width: 100%;
    position: relative;
    margin-bottom: 150px;
    padding: 100px 0 80px 0;
    @include media-xs {
        margin-bottom: 100px;
        padding: 80px 0 60px 0;
    }
    @include media-sm {
        padding: 90px 0 70px 0; 
        margin-bottom: 100px;
    }
    &:before {
        content: "";
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        background: #00358e;
        opacity: 0.8;
    }
    span {
        border: 5px solid #ffc600;
        border-right: none;
        border-left: none;
        padding: 50px 30px 30px 0;
        @include acuminProExtraCondBlack();
        font-size: 100px;
        line-height: 88px;
        letter-spacing: 10px;
        color: $white;
        font-style: normal;
        font-stretch: normal;
        display: block;
        margin-bottom: 50px;
        text-transform: uppercase;
        width: 47%;
        @include media-xs {
            padding: 35px 30px 15px 0;
        }
        @include media-xs-portrait {
            width: 100%;
            font-size: 58px;
            line-height: 62px;
        }
        @include media-xs-landscape {
            width: 81%;
        }
        @include media-sm {
            width: 71%;
        }
        @include media-md {
            width: 56%;
        }
    }
    p {
        font-family: $robotoLight;
        line-height: 24px;
        color: $white;
        width: 61%;
        @include media-xs-portrait {
            width: 100%;
        }
        @include media-xs-landscape {
            width: 90%;
        }
        @include media-sm {
            width: 90%;
        }
        @include media-md {
            width: 72%;
        }
    }
    .farm-verification-item-container {
        margin-top: 45px;
        .farm-verification-item {
            display: inline-block;
            width: calc(100% / 3 - 3px);
            vertical-align: top;
            padding-right: 10px;
            @include media-xs {
                width: 100%;
                margin-bottom: 50px;
                &:last-child {
                    margin-bottom: 0;
                }
            }
            h4 {
                text-transform: uppercase;
                color: $white;
                margin: 0;
            }
            p {
                color: $white;
                font-family: $robotoLight;
                width: 100%;
            }
        }
    }
}