.big-recipe-article-container {
    margin-bottom: 50px;
    @include media-xs {
        margin-bottom: 80px;
    }
    @include media-sm {
        margin-bottom: 80px;
    }
    .big-recipe-article-image-container {
        width: 100%;
        height: 710px;
        background-position: right;
        background-repeat: no-repeat;
        background-size: cover;
        @include media-xlg {
            height: 910px;
        }
        @include media-md {
            height: 610px;
        }
        @include media-sm {
            height: 400px;
        }
        @include media-xs {
            height: 400px;
        }
        &.desktop-banner-image {
            @include media-xs {
                display: none !important;
            }
        }
        &.mobile-banner-image {
            display: none !important;
            @include media-xs {
                display: block !important;
            }
        }
        &.center-position {
            background-position: center;
        }
        &.right-position {
            background-position: right;
        }
        &.left-position {
            background-position: left;
        }
        @include media-xs {
            height: 400px;
        }
        @include media-sm {
            height: 550px;
        }
    }
    h2 {
        color: $dark;
        letter-spacing: 10px;
        font-size: 100px;
        line-height: 0.88;
        margin-bottom: 18px;
        position: relative;
        z-index: 9;
        margin: -50px 0 28px 0;
        width: 74%;
        @include media-md {
            width: 90%;
        }
        @include media-sm {
            width: 95%;
        }
        @include media-xs {
            width: 100%;
            font-size: 64px;
            line-height: 64px;
            margin: -40px 0 20px 0;
            padding: 0 30px;
        }
        &:before {
            content: "";
            background: rgba(255, 255, 255, 0.9);
            width: 100%;
            height: 206px;
            position: absolute;
            top: -11px;
            left: -26px;
            z-index: -9;
            @include media-xs {
                width: calc(100vw - 50px);
                left: 15px;
                height: 106px;
            }
        }
    }
    .big-recipe-article-content {
        display: inline-block;
        width: 47.7%;
        border-right: 1px solid #cccccc;
        padding-bottom: 10px;
        vertical-align: top;
        @include media-md {
            width: 55%;
        }
        @include media-sm {
            width: 57%;
        }
        @include media-xs {
            width: 100%;
            border-right: 0;
            padding: 0 30px;
        }
        p {
            font-family: $robotoLight;
            font-size: 22px;
            line-height: 34px;
        }
        .primary-btn {
            margin-top: 25px;
            @include media-xs-portrait {
                width: 100%;
            }
        }
    }
    .article-icon-info {
        display: inline-block;
        width: 49%;
        padding-left: 20px;
        vertical-align: top;
        padding-top: 10px;
        text-align: left;
        @include media-md {
            width: 44%;
        }
        @include media-sm {
            width: 42%;
        }
        @include media-xs {
            width: 100%;
            border-top: none;
            margin-bottom: 40px;
            padding: 20px 30px 0 30px;
            text-align: center;
            &:before {
                content: "";
                border-bottom: 1px solid #cccccc;
                width: calc(100% - 60px);
                height: 1px;
                display: block;
            }
        }
        ul {
            li {
                text-align: center;
                vertical-align: top;
                margin-right: 45px;
                margin-bottom: 23px;
                &:last-child {
                    @include media-xs {
                        margin-right: 0;
                    }
                }
                @include media-xs {
                    vertical-align: initial;
                }
                @include media-xs-portrait {
                    margin-right: 5px;
                    margin-bottom: 0;
                    &:last-child {
                        margin-right: 0;
                    }
                }
                span {
                    display: block;
                    line-height: 22px;
                    font-size: 18px;
                    text-align: center;
                    @include media-xs-portrait {
                        line-height: 14px;
                        font-size: 12px;
                    }
                    @include media-xs {
                        text-align: left;
                        display: inline-block;
                    }
                }
                &:before {
                    display: block;
                    margin: 0 auto 3px auto;
                    @include media-xs {
                        display: inline-block;
                        margin: 0 3px 0 0;
                    }
                }
                &.prep-time {
                    &:before {
                        width: 56px;
                        height: 37px;
                        @include media-xs-portrait {
                            width: 35px;
                            height: 23px;
                        }
                    }
                }
                &.cook-time {
                    margin-top: -5px;
                    &:before { 
                        width: 35px;
                        height: 41px;
                        @include media-xs-portrait {
                            width: 18px;
                            height: 22px;
                        }
                    }
                }
                &.yields {
                    display: table;
                    margin-left: 8px;
                    span {
                        text-align: center;
                    }
                    @include media-xs {
                        display: inline-block;
                    }
                    &:before { 
                        margin: 0 auto 4px auto;
                        width: 64px;
                        height: 29px;
                        @include media-xs-portrait {
                            width: 35px;
                            height: 15px;
                        }
                    }
                }
            }
        }
    }
    .primary-btn {
        @include media-xs {
            width: calc(100% - 60px);
            margin: 0 auto;
        }
    }
    .article-icon {
        display: inline-block;
        width: 49%;
        padding-left: 36px;
        vertical-align: top;
        padding-top: 10px;
        @include media-md {
            width: 44%;
        }
        @include media-sm {
            width: 42%;
        }
        @include media-xs {
            width: 100%;
            border-top: 1px solid #cccccc;
            padding-top: 20px;
            margin-bottom: 40px;
            padding-left: 0;
        }
        .article-info {
            display: inline-block;
            text-align: center;
            margin-right: 81px;
            @include media-xs {
                margin-right: calc((100% - 290px) / 2);
            }
            img {
                height: 40px;
                @include media-xs {
                    display: inline-block;
                }
            }
            span {
                font-family: $robotoLight;
                font-size: 18px;
                line-height: 18px;
                color: $dark;
                display: block;
                margin-top: 6px;
                @include media-xs {
                    display: inline-block;
                }
            }
            &:first-child {
                margin-bottom: 33px;
                @include media-xs {
                    margin-bottom: 0;
                }
            }
            &:last-child {
                display: table;
                @include media-xs {
                    display: inline-block;
                    margin-right: 0;
                }
            }
        }
    }
    .primary-btn {
        @include media-xs-landscape {
            width: 60%;
        }
    }
}
.recipe-article-items-container {
    padding-bottom: 145px;
    @include media-xs {
        padding-bottom: 185px;
    }
    h2 {
        color: $dark;
        margin: -17px 0 22px 0;
        @include media-xs {
            padding: 0 30px;
        }
    }
    &.small-bottom-spacing {
        padding-bottom: 45px;
        @include media-xs {
            padding-bottom: 100px;
        }
    }
    &.medium-bottom-spacing {
        padding-bottom: 79px;
    }
    &.extra-big-bottom-spacing {
        padding-bottom: 160px;
        @include media-xs {
            padding-bottom: 100px;
        }
    }
    .btn-container {
        text-align: center;
        margin-top: 22px;
        @include media-xs {
            margin-top: -5px;
            padding: 0 30px;
        }
        .primary-btn {
            @include media-xs-portrait {
                padding: 12px 25px 14px 25px;
                width: 100%;
            }
            @include media-xs-landscape {
                padding: 12px 15px 14px 15px;
                width: 60%;
                margin: 0 auto 0 0;
                display: block;
            }
        }
        .see-more {
            @include acuminProExtraCondBlack;
            color: $blue;
            text-transform: uppercase;
            margin-bottom: 30px;
            font-size: 26px;
            line-height: 26px;
        }
    }
    &.three-col-articles-container {
        padding-bottom: 45px;
        &.add-bottom-spacing {
            padding-bottom: 60px;
        }
        &.big-bottom-spacing {
            padding-bottom: 140px;
            @include media-xs {
                padding-bottom: 90px;
            }
        }
        &.medium-bottom-spacing {
            padding-bottom: 125px;
            @include media-xs {
                padding-bottom: 70px;
            }
        }
        h2 {
            margin: -17px 0 73px 0;
            @include media-xs {
                margin: -17px 0 20px 0;
            }
        }
        .three-col-articles {
            .recipe-article-item-container {
                margin-bottom: 0;
                @include media-xs {
                    margin-bottom: 50px;
                    &:last-child {
                        margin-bottom: 0;
                    }
                }
            }
        }
    }
    &.more-rows-container {
        .btn-container {
            margin-top: -26px;
        }
    }
    &.calendar-recipe-article {
        h2 { 
            width: 40%;
            @include media-sm {
                width: 60%;
            }
            @include media-md {
                width: 50%;
            }
            @include media-xs {
                width: 100%;
            }
        }
        .btn-container {
            margin-top: 5px;
            @include media-xs {
                padding: 0 30px;
            }
        }
    }
}
.recipe-article-item-container {
    display: inline-block;
    vertical-align: top;
    margin-bottom: 80px;
    position: relative;
    padding-bottom: 10px;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
    @include media-xs {
        margin-bottom: 50px;
    }
    h4 {
        text-transform: uppercase;
        margin-top: -8px;
        min-height: 73px;
        @include media-md {
            min-height: 72px;
        }
        @include media-sm {
            min-height: 72px;
        }
        @include media-xs {
            margin-bottom: 0;
            min-height: auto;
        }
    }
    p {
        font-family: $robotoLight;
        line-height: 30px;
        margin-bottom: 10px;
        -webkit-box-orient: vertical;
        -moz-box-orient: vertical;
        -ms-box-orient: vertical;
        box-orient: vertical;
        overflow: hidden;
        display: -webkit-box;  
        @include media-xs {
            line-height: 24px;
        }  
    }
    .article-icon {
        text-align: center;
        position: relative;
        -webkit-transition: all 0.3s ease;
        -moz-transition: all 0.3s ease;
        -ms-transition: all 0.3s ease;
        -o-transition: all 0.3s ease;
        transition: all 0.3s ease;
        &:before {
            content: "";
            height: 1px;
            background: #cccccc;
            top: 0;
            position: absolute;
        }
    }
    .article-info {
        display: inline-block;
        margin-right: 40px;
        &:last-child {
            margin-right: 0;
        }
        @include media-xs {
            margin-right: calc((100% - 210px) / 2);
        }
        img {
            display: inline-block;
            height: 25px;
        }
        span {
            display: inline-block;
            font-family: $robotoLight;
            font-size: 14px;
            line-height: 14px;
            color: $dark;
            position: relative;
            top: 2px;
        }
    }
    .img-container {
        img {
            max-height: 100%;
            max-width: 100%;
            width: 100%;
            height: 100%;
        }
    }
    .hover-line {
        position: relative;
        top: 0;
        left: 0;
        &:after, 
        &:before {
            content: '';
            display: block;
            position: absolute;
            z-index: 9;  
            -webkit-transition: all 0.2s ease;
            -moz-transition: all 0.2s ease;
            -ms-transition: all 0.2s ease;
            -o-transition: all 0.2s ease;
            transition: all 0.2s ease;
        }
        &:before {
            background-color: rgba(84, 88, 90, 0);  
            top: -36px;
            left: -9px;
            width: 60%;
            height: 24px;
            border-radius: 10px 0 0;
            z-index: 99;
        } 
        &:after { 
            width: 0;
            height: 0;
            top: -36px;
            left: 58.4%;
            border-bottom: solid 12px rgba(84, 88, 90, 0);
            border-left: solid 12px rgba(84, 88, 90, 0);
            border-right: solid 12px transparent;
            border-top: solid 12px transparent;
            @include media-md {
                left: 58%;
            }
            @include media-sm {
                left: 57.4%;
            }
            @include media-xs {
                left: 57.4%;
            }
        }
    }
    &:after {
        content: "";
        border-radius: 4px;
        border-top-left-radius: 0;
        box-shadow: 0px 8px 7px 0 rgba(0, 0, 0, 0);
        background-color: rgba(84, 88, 90, 0);
        -webkit-transition: all 0.3s ease;
        -moz-transition: all 0.3s ease;
        -ms-transition: all 0.3s ease;
        -o-transition: all 0.3s ease;
        transition: all 0.3s ease;
        position: absolute;
        left: -9px;
        top: -12px;
        height: calc(100% + 20px);
        width: calc(100% + 17px);
    }
    &:hover {
        -moz-transform: translateY(-5px);
        -ms-transform: translateY(-5px);
        -o-transform: translateY(-5px);
        -webkit-transform: translateY(-5px);
        transform: translateY(-5px);
        &:after {
            background-color: rgba(84, 88, 90, 0.13);    
            box-shadow: 0px 8px 7px 0 rgba(0, 0, 0, 0.13);
        }
        .hover-line {
            &:before {
                background-color: rgba(84, 88, 90, 0.13);  
            }
            &:after {
                border-bottom: solid 12px rgba(84, 88, 90, 0.13);
                border-left: solid 12px rgba(84, 88, 90, 0.13);
                border-right: solid 12px transparent;
                border-top: solid 12px transparent;               
            }
        }
    }
}
.two-col-articles { 
    @include media-xs {
        padding: 0 30px;
    }
    .recipe-article-item-container {
        width: calc(100% / 2 - 10px);
        margin-right: 15px;
        @include media-xs {
            margin-right: 0;
            width: 100%;
        }
        &:last-child {
            margin-right: 0;
        }
        .img-container {
            margin-bottom: 30px;
            height: 431px;
            @include media-xs {
                margin-bottom: 20px;
                height: auto;
            }
            @include media-sm {
                height: 284px;
            }
            @include media-md {
                height: 360px;
            }
            img {
                object-fit: cover;
            }
        }
        .article-icon {
            padding-top: 18px;
            &:before {
                width: calc(100% - 40px);
                left: 20px;
                @include media-xs {
                    left: 0;
                    width: 100%;
                }
                @include media-sm {
                    left: 0;
                    width: 100%;
                }
            }
            @include media-xs {
                margin-top: 20px;
                padding: 20px 20px 0 20px;
                text-align: left;
            }
        }
        .article-icon-info { 
            margin-top: 16px;
            &:before {
                width: calc(100% - 40px);
                left: 20px;
                @include media-xs {
                    left: 0;
                    width: 100%;
                }
                @include media-sm {
                    left: 0;
                    width: 100%;
                }
            }
            @include media-xs {
                margin-top: 25px;
                padding: 20px 0 0 0;
                text-align: center;
            }
            li {
                &.prep-time {
                    margin-right: 25px;
                    @include media-xs-portrait {
                        margin-right: 5px;
                    }
                }
                &.cook-time {
                    margin-right: 15px;
                    @include media-xs-portrait {
                        margin-right: 5px;
                    }
                }
                &.yields {
                }
            }
        }
        h4 {
            @include media-lg {
                min-height: initial;
            }
            @include media-xs {
                min-height: initial;
            }
        }
        p {
            -webkit-line-clamp: 2;
            -moz-line-clamp: 2;
            -ms-line-clamp: 2;
            line-clamp: 2;
            height: 60px;
            @include media-xs {
                -webkit-line-clamp: initial;
                -moz-line-clamp: initial;
                -ms-line-clamp: initial;
                line-clamp: initial;
                height: auto;
            }
        }
        &:hover {
            .article-icon {
                padding-top: 22px;
            }
        }
    }
}
.three-col-articles {
    @include media-xs {
        padding: 0 30px;
    }
    .recipe-article-item-container {
        width: calc(100% / 3 - 10px);        
        margin-right: 10px;
        &:last-child {
            margin-right: 0;
        }
        &:nth-child(3n) {
            margin-right: 0;
        }
        @include media-xs {
            margin-right: 0;
            width: 100%;
        }
        .img-container {
            margin-bottom: 20px;
            height: 226px;
            @include media-xs {
                height: auto;
            }
            @include media-sm {
                height: 148px;
            }
            @include media-md {
                height: 188px;
            }
            img {
                object-fit: cover;
            }
        }
        .article-icon-info { 
            margin-top: -2px;
            &:before {
                width: calc(100% - 26px);
                left: 10px;
                @include media-md {
                    width: 100%;
                }
                @include media-xs {
                    width: 100%;
                    left: 0;
                }
                @include media-sm {
                    width: 100%;
                    left: 0;
                }
            }
            @include media-xs {
                margin-top: 25px;
                padding: 20px 0 0 0;
                text-align: center;
            }
            li {
                margin-right: 12px;
                @include media-md {
                    margin-right: 3px;
                }
                @include media-xs-portrait {
                    margin-right: 5px;
                }
                &:before {
                    @include media-md {
                        margin-right: 3px;
                    }
                }
                &.prep-time {
                }
                &.cook-time {
                }
                &.yields {
                    @include media-sm {
                        margin-top: 15px;
                    }
                }
            }
        }
        .article-icon {
            padding-top: 14px;
            &:before {
                width: calc(100% - 23px);
                left: 11px;
                @include media-xs {
                    width: 100%;
                    left: 0;
                }
                @include media-sm {
                    width: 100%;
                    left: 0;
                }
            }
        }
        .article-info {
            @include media-sm {
                margin-right: calc((100% - 210px) / 2);
            }
            &:last-child {
                margin-right: 0;
            }
        }
        h4 {
            @include media-md {
                min-height: 108px;
            }
            @include media-sm {
                min-height: 144px;
            }
        }
        p {
            -webkit-line-clamp: 3;
            -moz-line-clamp: 3;
            -ms-line-clamp: 4;
            line-clamp: 3;
            height: 93px;
            @include media-xs {
                -webkit-line-clamp: initial;
                -moz-line-clamp: initial;
                -ms-line-clamp: initial;
                line-clamp: initial;
                height: auto;
            }
        }
        &:hover {
            .article-icon {
                padding-top: 22px;
            }
        }
        .hover-line {
            &:after {
                left: 57.5%;
                @include media-md {
                    left: 57%;
                }
                @include media-sm {
                    left: 56%;
                }
            }
        }
    }
}
.dairy-articles-category-container {
    box-shadow: 0px 5px 0 0 rgba(84, 88, 90, 0.25);
    background-color: rgba(84, 88, 90, 0.05);
    padding: 50px 0 43px 0;
    margin-bottom: 113px;
    text-align: center;
    @include media-xs-portrait {
        padding: 50px 30px 23px 30px;
        margin-bottom: 70px;
    }
    h3 {
        text-transform: uppercase;
        margin: -6px 0 53px 0;
        @include media-xs {
            line-height: 48px;
        }
    }
    .dairy-articles-category-content {
        .category-item {
            display: inline-block;
            &:first-child {
                margin-right: 112px;
                @include media-xs-portrait {
                    margin-right: 15px;
                }
            }
            @include media-xs-portrait {
                margin-bottom: 20px;
            }
            h4 {
                text-transform: uppercase;
                margin: -8px 0 0 0;
            }
            .img-container {
                margin: 0 auto 11px auto;
                width: 140px;
                height: 140px;
                background-color: $white;
                border-radius: 100%;
                text-align: center;
                @include media-xs-portrait {
                    width: 120px;
                    height: 120px;
                }
                img {
                    max-width: 100%;
                    max-height: 100%;
                    position: relative;
                    top: 50%;
                    -webkit-transform: translateY(-50%);
                    -ms-transform: translateY(-50%);
                    transform: translateY(-50%);
                }
            }
        }
    }
}
.explore-recipers-container {
    margin-bottom: 147px;
    @include media-xs {
        margin-bottom: 70px;
    }
    h2 {
        color: $dark;
        margin: -17px 0 24px 0;
        @include media-xs {
            padding: 0 30px;
        }
    }
    .explore-recipers-inner-container {
        padding: 62px 0 27px 0;
        background-color: rgba(0,0,0,0.05);
        @include media-xs {
            padding: 0 0 22px 0;
        }
        .explore-main-recipers-container {
            background-color: $blue;
            padding: 50px 0 64px 0;
            @include media-xs {
                overflow-x: scroll;
                width: 100%;   
                padding: 50px 0 48px 0;
            }
            @include media-sm {
                width: 100%;   
                overflow-x: scroll;
            }
            .col-12 {
                @include media-xs {
                    padding-block-end: 0;
                }
            }
            .explore-main-links-container {
                text-align: center;
                margin-left: -114px;
                @include media-sm {
                    margin-left: 0;
                    text-align: left;
                }
                @include media-md {
                    margin-left: -5px;
                }
                @include media-xs {
                    display: none;
                }
                ul {
                    margin: 0;
                    padding: 0;
                    list-style: none;
                    li {
                        display: inline-block;
                        margin-right: 118px;
                        @include media-sm {
                            margin-right: 78px;
                        }
                        @include media-md {
                            margin-right: 85px;
                        }
                        &:last-child {
                            margin-right: 0;
                        }
                        a,
                        span {
                            text-transform: uppercase;
                            color: $white;
                            @include acuminProExtraCondBlack();                    
                            font-size: 30px;
                            line-height: 30px;
                            vertical-align: top;
                            text-transform: uppercase;
                            display: block;
                            cursor: pointer;
                            position: relative;
                        }
                    }
                }
            }
            .explore-main-btn-container {
                padding-left: 77px;
                margin-bottom: 31px;
                @include media-md {
                    padding-left: 0;
                    text-align: center;
                }
                @include media-sm {
                    padding-left: 0;
                    display: inline-flex;
                    overflow: auto;
                    width: 120vw;
                }
                @include media-xs {
                    padding-left: 0;
                    display: inline-flex;
                    overflow: auto;
                    margin-bottom: 0;
                    width: 270vw;
                }
                @include media-xs-landscape {
                    width: 160vw;
                }
                ul {
                    margin: 0;
                    padding: 0;
                    list-style: none;
                    li {
                        display: inline-block;
                        &:first-child {
                            margin-right: 67px;
                            @include media-sm {
                                margin-right: 60px;
                            }
                            @include media-xs {
                                margin-right: 15px;
                            }
                        }
                        &:nth-child(2) {
                            margin-right: 15px;
                        }
                        &:nth-child(3) {
                            margin-right: 67px;
                            @include media-sm {
                                margin-right: 60px;
                            }
                            @include media-xs {
                                margin-right: 15px;
                            }
                        }
                        .primary-btn {
                            @include media-xs-landscape {
                                font-size: 32px;
                                line-height: 32px;
                                padding: 12px 45px 14px 45px; 
                            }
                            @include media-xs {
                                padding: 12px 75px 14px 75px; 
                            }
                        }
                        a,
                        span {
                            text-transform: uppercase;
                            color: $white;
                            @include acuminProExtraCondBlack();                    
                            font-size: 30px;
                            line-height: 30px;
                            vertical-align: top;
                            text-transform: uppercase;
                            display: block;
                            cursor: pointer;
                            position: relative;
                            @include media-sm {
                                top: -17px;
                            }
                            @include media-xs {
                                top: -17px;
                            }
                        }
                    }
                    @include media-sm {
                        display: flex;
                        align-items: flex-end;
                        overflow: hidden;
                        position: relative;
                    }
                    @include media-xs {
                        display: flex;
                        align-items: flex-end;
                        overflow: hidden;
                        position: relative;
                    }
                }
                .primary-btn {
                    &.active-btn {
                        color: $blue;
                        background: $white;
                        padding-right: 70px;
                        @include media-xs {
                            padding-right: 100px;
                        }
                        img {
                            height: 30px;                        
                            opacity: 1;
                            visibility: visible;
                            @media all and (-ms-high-contrast:none) {
                                height: 32px;
                            }
                            @include media-xs {
                                height: 40px;
                            }
                        }
                    }
                    img {
                        height: 0;
                        opacity: 0;
                        visibility: hidden;
                        width: 31px;
                        position: absolute;
                        right: 15px;
                        top: 13px;
                        -webkit-transition: all 0.3s ease;
                        -moz-transition: all 0.3s ease;
                        -o-transition: all 0.3s ease;
                        transition: all 0.3s ease;
                        cursor: pointer;
                        &:hover {
                            opacity: 0.8;
                        }
                        @media all and (-ms-high-contrast:none) {
                            width: 32px;
                        }
                        @include media-xs {
                            width: 41px;
                            top: 10px;
                            right: 25px;
                        }
                    }
                }
            }
            .tab-pane {
                display: none;
                &.active {
                    display: block;
                    &.in {
                        opacity: 1;
                    }
                }
            }
        }
        .choosen-filter-container {
            padding-top: 30px;
            padding-left: 90px;
            @include media-sm {
                padding-left: 0;
            }
            @include media-xs {
                padding-left: 30px;
            }
            span {
                text-transform: uppercase;
                @include acuminProExtraCondBlack();                    
                font-size: 30px;
                line-height: 30px;
                vertical-align: top;
                &.title {
                    color: $dark;
                    margin-right: 55px;
                    display: inline-block;
                    @include media-xs {
                        margin-right: 20px;
                    }
                }
            }
            .choosen-filter-item-container {
                display: inline-block;
                vertical-align: top;
                min-height: 40px;
                @include media-xs {
                    overflow-x: scroll;
                    width: calc(100% - 100px);
                    margin-top: -4px;
                }
                .choosen-filter-item-inner-container {
                    @include media-xs {
                        display: inline-flex;
                    }
                }
            }
            .choosen-filter-item {
                -webkit-transition: all 0.3s ease;
                -moz-transition: all 0.3s ease;
                -o-transition: all 0.3s ease;
                transition: all 0.3s ease;
                margin-right: 30px;
                vertical-align: top;
                display: inline-block;
                @include media-xs {
                    display: flex;
                    align-items: flex-end;
                    overflow: hidden;
                }
                &:last-child {
                    margin-right: 0;
                }
                span {
                    color: $blue;
                    margin-right: 15px;
                    @include media-xs {
                        position: relative;
                        top: -6px;
                    }
                }
                img {
                    vertical-align: top;
                    width: 31px;
                    height: 30px;
                    -webkit-transition: all 0.3s ease;
                    -moz-transition: all 0.3s ease;
                    -o-transition: all 0.3s ease;
                    transition: all 0.3s ease;
                    cursor: pointer;
                    position: relative;
                    top: 1px;
                    &:hover {
                        opacity: 0.7;
                    }
                    @include media-xs {
                        top: 0;
                        width: 41px;
                        height: 40px;
                    }
                    @media all and (-ms-high-contrast:none) {
                        width: 32px;
                        height: 32px;
                    }
                }
            }
        }
        .explore-recipes-category-container {
            @include media-xs {
                overflow-x: scroll;
                padding-top: 60px;
            }
            .col-12 {
                @include media-xs {
                    padding: 0;
                }
            }
        }
        .explore-recipes-category-content {
            margin: 0 0 26px 0;
            padding: 0;
            text-align: center;
            display: flex;
            @include media-xs {
                display: inline-flex;
                flex-wrap: initial;
            }
            .category-item {
                text-align: center;
                display: flex;
                flex-flow: column nowrap;
                justify-content: flex-end;
                align-items: center;
                flex: 1 1 0%;
                width: auto;
                position: relative;
                -webkit-transition: all 0.3s ease;
                -moz-transition: all 0.3s ease;
                -o-transition: all 0.3s ease;
                transition: all 0.3s ease;
                cursor: pointer;
                @include media-xs {
                    min-width: 170px;
                }
                img {
                    margin-bottom: 47px;
                    height: 52px;
                    max-width: 100%;
                    z-index: 9;
                    position: relative;
                    -webkit-transition: all 0.3s ease;
                    -moz-transition: all 0.3s ease;
                    -o-transition: all 0.3s ease;
                    transition: all 0.3s ease;
                }
                &:first-child {
                    img {
                        height: 54px;
                        margin: 0 auto 58px auto;
                    }
                }
                &:nth-child(2) {
                    img {
                        height: 76px;
                        margin: 0 auto 46px auto;
                    }
                    a {
                        &:before {
                            top: -28px;
                        }
                    }
                }
                &:nth-child(3) {
                    img {
                        height: 52px;
                        margin: 0 auto 49px auto;
                    }
                    a {
                        &:before {
                            top: -50px;
                        }
                    }
                }
                &:nth-child(4) {
                    img {
                        height: 73px;
                        margin: 0 auto 49px auto;
                    }
                    a {
                        &:before {
                            top: -28px;
                        }
                    }
                }
                h4 {
                    line-height: 36px;
                    text-transform: uppercase;
                    margin: -8px 0 0 0;
                }
                a {
                    position: relative;
                    &.active {
                        &:before {
                            background: #54585a;
                            opacity: 0.1;
                        }
                        &:hover {
                            &:before {
                                border: 5px solid transparent;
                                background: #54585a;
                            }
                        }
                        .normal-img {
                            display: none;                        
                        }
                        .active-img {
                            display: block;
                        }
                    }
                    .active-img {
                        display: none;
                    }
                    &:before {
                        content: "";
                        width: 140px;
                        height: 140px;
                        border-radius: 100%;
                        -webkit-transition: all 0.3s ease;
                        -moz-transition: all 0.3s ease;
                        -o-transition: all 0.3s ease;
                        transition: all 0.3s ease;
                        position: absolute;
                        top: -38px;
                        left: 50%;
                        -webkit-transform: translateX(-50%);
                        -ms-transform: translateX(-50%);
                        transform: translateX(-50%);
                    }
                    &:hover {
                        &:before {
                            background: $white;
                            border: 5px solid $blue;
                        }
                    }
                }
            }
        }
    }
}