.big-recipe-article-container {
    margin-bottom: 89px;
    .big-recipe-article-image-container {
        width: 100%;
        height: 710px;
        background-position: right;
        background-repeat: no-repeat;
        background-size: cover;
        @include media-xlg {
            height: 910px;
        }
        @include media-md {
            height: 610px;
        }
        @include media-sm {
            height: 400px;
        }
        @include media-xs {
            height: 400px;
        }
        &.desktop-banner-image {
            @include media-xs {
                display: none !important;
            }
        }
        &.mobile-banner-image {
            display: none !important;
            @include media-xs {
                display: block !important;
            }
        }
        &.center-position {
            background-position: center;
        }
        &.right-position {
            background-position: right;
        }
        &.left-position {
            background-position: left;
        }
        @include media-xs {
            height: 400px;
        }
        @include media-sm {
            height: 550px;
        }
    }
    h2 {
        color: $dark;
        letter-spacing: 10px;
        font-size: 100px;
        line-height: 0.88;
        margin-bottom: 18px;
        position: relative;
        z-index: 9;
        margin: -50px 0 28px 0;
        width: 74%;
        @include media-md {
            width: 90%;
        }
        @include media-sm {
            width: 95%;
        }
        @include media-xs {
            width: 100%;
            font-size: 64px;
            line-height: 64px;
            margin: -40px 0 20px 0;
        }
        &:before {
            content: "";
            background: rgba(255, 255, 255, 0.9);
            width: 100%;
            height: 206px;
            position: absolute;
            top: -11px;
            left: -26px;
            z-index: -9;
            @include media-xs {
                width: 100vw;
                height: 106px;
            }
        }
    }
    .big-recipe-article-content {
        display: inline-block;
        width: 47.7%;
        border-right: 1px solid #cccccc;
        padding-bottom: 10px;
        vertical-align: top;
        @include media-md {
            width: 55%;
        }
        @include media-sm {
            width: 57%;
        }
        @include media-xs {
            width: 100%;
            border-right: 0;
        }
        p {
            font-family: $robotoLight;
            font-size: 22px;
            line-height: 34px;
        }
        .primary-btn {
            margin-top: 25px;
            @include media-xs-portrait {
                width: 100%;
            }
        }
    }
    .article-icon-info {
        display: inline-block;
        width: 49%;
        padding-left: 20px;
        vertical-align: top;
        padding-top: 10px;
        text-align: left;
        @include media-md {
            width: 44%;
        }
        @include media-sm {
            width: 42%;
        }
        @include media-xs {
            width: 100%;
            border-top: 1px solid #cccccc;
            padding-top: 20px;
            margin-bottom: 40px;
            padding-left: 0;
            text-align: center;
        }
        ul {
            li {
                text-align: center;
                vertical-align: top;
                margin-right: 45px;
                margin-bottom: 23px;
                &:last-child {
                    @include media-xs {
                        margin-right: 0;
                    }
                }
                span {
                    display: block;
                    line-height: 22px;
                    font-size: 18px;
                    text-align: center;
                }
                &:before {
                    display: block;
                    margin: 0 auto 3px auto;
                }
                &.prep-time {
                    &:before {
                        width: 56px;
                        height: 37px;
                    }
                }
                &.cook-time {
                    margin-top: -5px;
                    &:before { 
                        width: 35px;
                        height: 41px;
                    }
                }
                &.yields {
                    display: table;
                    margin-left: 8px;
                    span {
                        text-align: center;
                    }
                    @include media-xs {
                        display: inline-block;
                    }
                    &:before { 
                        margin: 0 auto 4px auto;
                        width: 64px;
                        height: 29px;
                    }
                }
            }
        }
    }
    .article-icon {
        display: inline-block;
        width: 49%;
        padding-left: 36px;
        vertical-align: top;
        padding-top: 10px;
        @include media-md {
            width: 44%;
        }
        @include media-sm {
            width: 42%;
        }
        @include media-xs {
            width: 100%;
            border-top: 1px solid #cccccc;
            padding-top: 20px;
            margin-bottom: 40px;
            padding-left: 0;
        }
        .article-info {
            display: inline-block;
            text-align: center;
            margin-right: 81px;
            @include media-xs {
                margin-right: calc((100% - 290px) / 2);
            }
            img {
                height: 40px;
                @include media-xs {
                    display: inline-block;
                }
            }
            span {
                font-family: $robotoLight;
                font-size: 18px;
                line-height: 18px;
                color: $dark;
                display: block;
                margin-top: 6px;
                @include media-xs {
                    display: inline-block;
                }
            }
            &:first-child {
                margin-bottom: 33px;
                @include media-xs {
                    margin-bottom: 0;
                }
            }
            &:last-child {
                display: table;
                @include media-xs {
                    display: inline-block;
                    margin-right: 0;
                }
            }
        }
    }
    .primary-btn {
        @include media-xs-landscape {
            width: 60%;
        }
    }
}
.recipe-article-items-container {
    padding-bottom: 145px;
    @include media-xs {
        padding-bottom: 185px;
    }
    h2 {
        color: $dark;
        margin: -17px 0 22px 0;
    }
    &.small-bottom-spacing {
        padding-bottom: 45px;
        @include media-xs {
            padding-bottom: 100px;
        }
    }
    &.medium-bottom-spacing {
        padding-bottom: 79px;
    }
    &.extra-big-bottom-spacing {
        padding-bottom: 160px;
        @include media-xs {
            padding-bottom: 100px;
        }
    }
    .btn-container {
        text-align: center;
        margin-top: 22px;
        @include media-xs {
            margin-top: -5px;
        }
        .primary-btn {
            @include media-xs-portrait {
                padding: 12px 25px 14px 25px;
                width: 100%;
            }
            @include media-xs-landscape {
                padding: 12px 15px 14px 15px;
                width: 60%;
                margin: 0 auto 0 0;
                display: block;
            }
        }
        .see-more {
            @include acuminProExtraCondBlack;
            color: $blue;
            text-transform: uppercase;
            margin-bottom: 30px;
            font-size: 26px;
            line-height: 26px;
        }
    }
    &.three-col-articles-container {
        padding-bottom: 45px;
        &.add-bottom-spacing {
            padding-bottom: 60px;
        }
        &.big-bottom-spacing {
            padding-bottom: 140px;
            @include media-xs {
                padding-bottom: 90px;
            }
        }
        &.medium-bottom-spacing {
            padding-bottom: 125px;
            @include media-xs {
                padding-bottom: 70px;
            }
        }
        h2 {
            margin: -17px 0 73px 0;
            @include media-xs {
                margin: -17px 0 20px 0;
            }
        }
        .three-col-articles {
            .recipe-article-item-container {
                margin-bottom: 0;
                @include media-xs {
                    margin-bottom: 50px;
                    &:last-child {
                        margin-bottom: 0;
                    }
                }
            }
        }
    }
    &.more-rows-container {
        .btn-container {
            margin-top: -26px;
        }
    }
    &.calendar-recipe-article {
        h2 { 
            width: 40%;
            @include media-sm {
                width: 60%;
            }
            @include media-md {
                width: 50%;
            }
            @include media-xs {
                width: 100%;
            }
        }
        .btn-container {
            margin-top: 5px;
        }
    }
}
.recipe-article-item-container {
    display: inline-block;
    vertical-align: top;
    margin-bottom: 80px;
    position: relative;
    padding-bottom: 10px;
    @include media-xs {
        margin-bottom: 50px;
    }
    h4 {
        text-transform: uppercase;
        margin-top: -8px;
        @include media-md {
            min-height: 72px;
        }
        @include media-sm {
            min-height: 72px;
        }
        @include media-xs {
            margin-bottom: 0;
        }
    }
    p {
        font-family: $robotoLight;
        line-height: 30px;
        margin-bottom: 10px;
        -webkit-box-orient: vertical;
        -moz-box-orient: vertical;
        -ms-box-orient: vertical;
        box-orient: vertical;
        overflow: hidden;
        display: -webkit-box;  
        @include media-xs {
            line-height: 24px;
        }  
    }
    .article-icon {
        text-align: center;
        position: relative;
        -webkit-transition: all 0.3s ease;
        -moz-transition: all 0.3s ease;
        -ms-transition: all 0.3s ease;
        -o-transition: all 0.3s ease;
        transition: all 0.3s ease;
        &:before {
            content: "";
            height: 1px;
            background: #cccccc;
            top: 0;
            position: absolute;
        }
    }
    .article-info {
        display: inline-block;
        margin-right: 40px;
        &:last-child {
            margin-right: 0;
        }
        @include media-xs {
            margin-right: calc((100% - 210px) / 2);
        }
        img {
            display: inline-block;
            height: 25px;
        }
        span {
            display: inline-block;
            font-family: $robotoLight;
            font-size: 14px;
            line-height: 14px;
            color: $dark;
            position: relative;
            top: 2px;
        }
    }
    .img-container {
        img {
            max-height: 100%;
            max-width: 100%;
            width: 100%;
        }
    }
    .hover-line {
        position: relative;
        top: 0;
        left: 0;
        &:after, 
        &:before {
            content: '';
            display: block;
            position: absolute;
            z-index: 9;  
            -webkit-transition: all 0.2s ease;
            -moz-transition: all 0.2s ease;
            -ms-transition: all 0.2s ease;
            -o-transition: all 0.2s ease;
            transition: all 0.2s ease;
        }
        &:before {
            background-color: rgba(84, 88, 90, 0);  
            top: -36px;
            left: -9px;
            width: 60%;
            height: 24px;
            border-radius: 10px 0 0;
            z-index: 99;
        } 
        &:after { 
            width: 0;
            height: 0;
            top: -36px;
            left: 58.4%;
            border-bottom: solid 12px rgba(84, 88, 90, 0);
            border-left: solid 12px rgba(84, 88, 90, 0);
            border-right: solid 12px transparent;
            border-top: solid 12px transparent;
            @include media-md {
                left: 58%;
            }
            @include media-sm {
                left: 57.4%;
            }
            @include media-xs {
                left: 57.4%;
            }
        }
    }
    &:after {
        content: "";
        border-radius: 4px;
        border-top-left-radius: 0;
        box-shadow: 0px 8px 7px 0 rgba(0, 0, 0, 0);
        background-color: rgba(84, 88, 90, 0);
        -webkit-transition: all 0.3s ease;
        -moz-transition: all 0.3s ease;
        -ms-transition: all 0.3s ease;
        -o-transition: all 0.3s ease;
        transition: all 0.3s ease;
        position: absolute;
        left: -9px;
        top: -12px;
        height: calc(100% + 20px);
        width: calc(100% + 17px);
    }
    &:hover {
        &:after {
            background-color: rgba(84, 88, 90, 0.13);    
            box-shadow: 0px 8px 7px 0 rgba(0, 0, 0, 0.13);
        }
        .hover-line {
            &:before {
                background-color: rgba(84, 88, 90, 0.13);  
            }
            &:after {
                border-bottom: solid 12px rgba(84, 88, 90, 0.13);
                border-left: solid 12px rgba(84, 88, 90, 0.13);
                border-right: solid 12px transparent;
                border-top: solid 12px transparent;               
            }
        }
    }
}
.two-col-articles { 
    .recipe-article-item-container {
        width: calc(100% / 2 - 10px);
        margin-right: 15px;
        @include media-xs {
            margin-right: 0;
            width: 100%;
        }
        &:last-child {
            margin-right: 0;
        }
        .img-container {
            margin-bottom: 30px;
            @include media-xs {
                margin-bottom: 20px;
            }
        }
        .article-icon {
            padding-top: 18px;
            &:before {
                width: calc(100% - 40px);
                left: 20px;
                @include media-xs {
                    left: 0;
                    width: 100%;
                }
                @include media-sm {
                    left: 0;
                    width: 100%;
                }
            }
            @include media-xs {
                margin-top: 20px;
                padding: 20px 20px 0 20px;
                text-align: left;
            }
        }
        .article-icon-info { 
            margin-top: 16px;
            &:before {
                width: calc(100% - 40px);
                left: 20px;
                @include media-xs {
                    left: 0;
                    width: 100%;
                }
                @include media-sm {
                    left: 0;
                    width: 100%;
                }
            }
            @include media-xs {
                margin-top: 25px;
                padding: 20px 0 0 0;
                text-align: center;
            }
            li {
                &.prep-time {
                    margin-right: 25px;
                }
                &.cook-time {
                    margin-right: 15px;
                }
                &.yields {
                }
            }
        }
        p {
            -webkit-line-clamp: 2;
            -moz-line-clamp: 2;
            -ms-line-clamp: 2;
            line-clamp: 2;
            height: 60px;
            @include media-xs {
                -webkit-line-clamp: initial;
                -moz-line-clamp: initial;
                -ms-line-clamp: initial;
                line-clamp: initial;
                height: auto;
            }
        }
        &:hover {
            .article-icon {
                padding-top: 22px;
            }
        }
    }
}
.three-col-articles {
    .recipe-article-item-container {
        width: calc(100% / 3 - 9.5px);        
        margin-right: 10px;
        &:last-child {
            margin-right: 0;
        }
        @include media-xs {
            margin-right: 0;
            width: 100%;
        }
        .img-container {
            margin-bottom: 20px;
        }
        .article-icon-info { 
            margin-top: -2px;
            &:before {
                width: calc(100% - 26px);
                left: 10px;
                @include media-md {
                    width: 100%;
                }
                @include media-xs {
                    width: 100%;
                    left: 0;
                }
                @include media-sm {
                    width: 100%;
                    left: 0;
                }
            }
            @include media-xs {
                margin-top: 25px;
                padding: 20px 0 0 0;
                text-align: center;
            }
            li {
                margin-right: 12px;
                @include media-md {
                    margin-right: 3px;
                }
                &:before {
                    @include media-md {
                        margin-right: 3px;
                    }
                }
                &.prep-time {
                }
                &.cook-time {
                }
                &.yields {
                    @include media-sm {
                        margin-top: 15px;
                    }
                }
            }
        }
        .article-icon {
            padding-top: 14px;
            &:before {
                width: calc(100% - 23px);
                left: 11px;
                @include media-xs {
                    width: 100%;
                    left: 0;
                }
                @include media-sm {
                    width: 100%;
                    left: 0;
                }
            }
        }
        .article-info {
            @include media-sm {
                margin-right: calc((100% - 210px) / 2);
            }
            &:last-child {
                margin-right: 0;
            }
        }
        h4 {
            @include media-md {
                min-height: 108px;
            }
            @include media-sm {
                min-height: 144px;
            }
        }
        p {
            -webkit-line-clamp: 3;
            -moz-line-clamp: 3;
            -ms-line-clamp: 4;
            line-clamp: 3;
            height: 93px;
            @include media-xs {
                -webkit-line-clamp: initial;
                -moz-line-clamp: initial;
                -ms-line-clamp: initial;
                line-clamp: initial;
                height: auto;
            }
        }
        &:hover {
            .article-icon {
                padding-top: 22px;
            }
        }
        .hover-line {
            &:after {
                left: 57.5%;
                @include media-md {
                    left: 57%;
                }
                @include media-sm {
                    left: 56%;
                }
            }
        }
    }
}
.dairy-articles-category-container {
    box-shadow: 0px 5px 0 0 rgba(84, 88, 90, 0.25);
    background-color: rgba(84, 88, 90, 0.05);
    padding: 50px 0 43px 0;
    margin-bottom: 113px;
    text-align: center;
    @include media-xs-portrait {
        padding: 50px 0 23px 0;
        margin-bottom: 70px;
    }
    h3 {
        text-transform: uppercase;
        margin: -6px 0 53px 0;
        @include media-xs {
            line-height: 48px;
        }
    }
    .dairy-articles-category-content {
        .category-item {
            display: inline-block;
            &:first-child {
                margin-right: 112px;
                @include media-xs-portrait {
                    margin-right: 15px;
                }
            }
            @include media-xs-portrait {
                margin-bottom: 20px;
            }
            h4 {
                text-transform: uppercase;
                margin: -8px 0 0 0;
            }
            .img-container {
                margin: 0 auto 11px auto;
                width: 140px;
                height: 140px;
                background-color: $white;
                border-radius: 100%;
                text-align: center;
                @include media-xs-portrait {
                    width: 120px;
                    height: 120px;
                }
                img {
                    max-width: 100%;
                    max-height: 100%;
                    position: relative;
                    top: 50%;
                    -webkit-transform: translateY(-50%);
                    -ms-transform: translateY(-50%);
                    transform: translateY(-50%);
                }
            }
        }
    }
}
.explore-recipers-container {
    margin-bottom: 147px;
    @include media-xs {
        margin-bottom: 70px;
    }
    h2 {
        color: $dark;
        margin: -17px 0 24px 0;
    }
}