.annual-report-container {
    margin-bottom: 95px;
    margin-top: 3px;
    border-bottom: 1px solid #54585a;
    @include media-xs {
        margin: 0 0 70px 0;
    }
    .annual-report-item {
        margin-bottom: 150px;
        @include media-xs {
            margin-bottom: 90px;
            padding: 0 30px;
        }
        .img-container {
            display: inline-block;
            width: calc(100% / 2 - 11px);            
            vertical-align: top;
            margin-right: 14px;
            @include media-xs {
                width: 100%;
                margin-right: 0;
                margin-bottom: 25px;
            }
            img {
                max-width: 100%;
                max-height: 100%;
                object-fit: contain;
            }
        }
        .annual-report-content {
            display: inline-block;
            width: calc(100% / 2 - 11px);            
            vertical-align: top;
            text-align: left;
            @include media-xs {
                width: 100%;
            }
            h4 {
                text-transform: uppercase;
                margin: -8px 0 3px 0;
            }
            p {
                font-family: $robotoLight;
                line-height: 30px;
                padding-right: 15px;
                @include media-xs {
                    padding-right: 0;
                }
            }
            .btn-container {
                margin-top: 15px;
                display: inline-block;
                @include media-xs-portrait {
                    max-width: 100%;
                    width: 100%;
                    margin-top: 10px;
                }
                @include media-xs-landscape {
                    max-width: 60%;
                    width: 60%;
                    margin-top: 10px;
                }
                .primary-btn {
                    // padding: 12px 10px 14px 10px;
                    @include media-sm {
                        padding: 12px 35px 14px 35px;
                    }
                    @include media-xs {
                        width: 100%;
                    }
                }
                span {
                    display: block;
                    margin: 0 auto;
                    font-family: $robotoLight;
                    font-size: 18px;
                    line-height: 30px;
                    color: $dark;
                    text-align: center;
                    @include media-xs {
                        margin: 3px auto 0 auto;
                    }
                }
            }
        }
    }
}
.contact-us-container {
    margin-bottom: 45px;
    padding-bottom: 100px;
    border-bottom: 1px solid #54585a;
    margin-top: 79px;
    position: relative;
    @include media-xs {
        padding-bottom: 70px;
        margin-bottom: 35px;
    }
    @include media-sm {
        margin-top: 180px;
    }
    @include media-xs-landscape {
        margin-top: 110px;
    }
    .contact-us-title {
        margin: 0 0 165px 0;
        @include media-xs-portrait {
            margin: 0 0 70px 0;
        }
        @include media-xs {
            padding: 0 30px;
        }
        h1 {
            color: $dark;
            font-size: 100px;
            line-height: 88px;
            letter-spacing: 10px;
            @include acuminProExtraCondBlack();            
            text-transform: uppercase;
            display: block;
            width: 100%;
            @include media-xs-portrait {
                font-size: 64px;
                line-height: 60px;
                letter-spacing: 6px;
            }
        }
    }
    .contact-us-content {
        display: inline-block;
        width: 476px;            
        vertical-align: top;
        @include media-md {
            width: 42%;
        }
        @include media-xs {
            width: 100%;
            @include media-xs {
                padding: 0 30px;
            }
        }
        .social-links {
            margin: 25px 0 35px 0;
            ul {
                list-style: none;
                margin: 0;
                padding: 0;
                li {
                    display: inline-block;
                    margin-right: 21px;
                    width: 71px;
                    height: 70px;
                    -webkit-transition: all 0.3s ease;
                    -moz-transition: all 0.3s ease;
                    -o-transition: all 0.3s ease;
                    transition: all 0.3s ease;
                    &:last-child {
                        margin-right: 0;
                    }
                    @include media-xs-portrait {
                        width: 56px;
                        height: 55px;
                        margin-right: 15px;
                        &:last-child {
                            margin-right: 0;
                        }
                    }
                    img {
                        width: 71px;
                        height: 70px;
                        -webkit-transition: all 0.3s ease;
                        -moz-transition: all 0.3s ease;
                        -o-transition: all 0.3s ease;
                        transition: all 0.3s ease;
                        @include media-xs-portrait {
                            width: 56px;
                            height: 55px;
                        }
                    }
                    &:hover {
                        opacity: 0.7;
                    }
                    a {
                        &:before {
                            display: none;
                        }
                    }
                }
            }
        }
    }
    h4 {
        text-transform: uppercase;
        margin: 25px 0 3px 0;
        &:first-child {
            margin-top: -8px;
        }
    }
    p {
        font-family: $robotoLight;
        line-height: 30px;
        margin: 0;
        a {
            font-family: $robotoLight;
            line-height: 30px;
            font-size: 18px;
            color: $blue;
            position: relative;
            &:before {
                content: "";
                position: absolute;
                width: 100%;
                height: 1px;
                bottom: 0;
                right: 0;
                visibility: visible;
                -webkit-transition: all 0.3s ease-in-out 0s;
                -moz-transition: all 0.3s ease-in-out 0s;
                -ms-transition: all 0.3s ease-in-out 0s;
                -o-transition: all 0.3s ease-in-out 0s;
                transition: all 0.3s ease-in-out 0s;
                background: #0072ce;
            }
            &:hover {
                &:before {
                    visibility: hidden;
                    width: 0;
                }
            }
        }
    }
    .contact-us-inner-container {
        position: relative;
    }
    .contact-us-map {
        display: inline-block;
        width: 655px;   
        height: 655px;         
        vertical-align: top;
        border: 2px solid $blue;
        @include media-lg {
            position: absolute;
            top: 0;
            right: -84px;
        }
        @media (min-width: 1250px) and (max-width: 1300px) { 
            right: -65px;
        }
        @media (min-width: 1200px) and (max-width: 1249px) { 
            right: -45px;
        }
        @include media-md {
            width: 57%;
        }
        @include media-sm {
            width: 100%;
            margin-top: 70px;
        }
        @include media-xs {
            width: 100%;
            height: 50vh;
            margin-top: 70px;
        }
        @include media-xs-landscape {
            height: 100vh;
        }
        .map {
            height: 100%;
            width: 100%;
            .gm-style-cc {
                display: none;
            }
            a[href^="http://maps.google.com/maps"],
            a[href^="https://maps.google.com/maps"],
            a[href^="https://www.google.com/maps"] {
                display: none !important;
            }
        }
    }
    .additional-contact-us-content {
        width: 100%;
        margin-top: 145px;
        @include media-xs {
            padding: 0 30px;
            margin-top: 80px;
        }
        @include media-md {
            margin-top: 100px;
        }
        @include media-sm {
            margin-top: 80px;
        }
        .img-container {
            margin-left: -23px;
            @include media-sm {
                margin-left: 0;
            }
            @include media-xs {
                margin-left: 0;
                text-align: center;
                margin-bottom: 10px;
            }
            img {
                width: 117px;
                height: 117px;
                object-fit: contain;
            }
        }
        h4 {
            margin: 1px 0 5px 0;
            width: 50%;
            @include media-md {
                width: 60%;
            }
            @include media-sm {
                width: 80%;
            }
            @include media-xs {
                width: 100%;
            }
        }
        .primary-btn {
            margin-top: 31px;
            @include media-xs-portrait {
                width: 100%;
            }
            @include media-xs-landscape {
                width: 60%;
            }
        }
    }
}
.contact-esmp-container{
    margin-bottom: 45px;
    padding-bottom: 89px;
    border-bottom: 1px solid #54585a;
    margin-top: 79px;
    position: relative;
    width: 100%;
    @include media-xs {
        margin-bottom: 35px;
        padding: 0 30px 70px 30px;
    }
    @include media-sm {
        margin-top: 180px;
    }
    @include media-xs-landscape {
        margin-top: 110px;
    }
    .contact-esmp-intro {
        margin: 0 0 81px 0;
        width: 83%;
        @include media-xs {
            width: 100%;
        }
        @include media-sm {
            width: 90%;
        }
        @include media-xs-portrait {
            margin: 0 0 70px 0;
        }
        h1 {
            color: $dark;
            font-size: 100px;
            line-height: 88px;
            letter-spacing: 10px;
            @include acuminProExtraCondBlack();            
            text-transform: uppercase;
            display: block;
            width: 100%;
            margin-bottom: 21px;
            @include media-xs-portrait {
                font-size: 64px;
                line-height: 60px;
                letter-spacing: 6px;
            }
        }
        p {
            font-family: $robotoLight;
            line-height: 30px;
        }
    }
    .contact-esmp-form {
        width: 83%;
        @include media-xs {
            width: 100%;
        }
        @include media-sm {
            width: 90%;
        }
        h4 {
            text-transform: uppercase;
            margin: -8px 0 3px 0;
        }
        p {
            font-family: $robotoLight;
            line-height: 26px;
            &:nth-child(2) {
                margin-bottom: 0;
                @include media-xs {
                    margin-bottom: 20px;
                }
            }
        }
        .form-container {
            margin-top: 33px;
            @include media-xs {
                margin-top: 40px;
            }
        }
        .btn-container {
            margin: 42px 0 50px 0;
            @include media-xs {
                margin: 42px 0 30px 0;
            }
        }
        .additional-info {
            p {
                font-family: $robotoLight;
                line-height: 26px;
                margin: 0;
                b {
                    font-family: $robotoBold;
                }
                a {
                    font-family: $robotoLight;
                    line-height: 30px;
                    font-size: 18px;
                    color: $blue;
                    position: relative;
                    &:before {
                        content: "";
                        position: absolute;
                        width: 100%;
                        height: 1px;
                        bottom: 0;
                        right: 0;
                        visibility: visible;
                        -webkit-transition: all 0.3s ease-in-out 0s;
                        -moz-transition: all 0.3s ease-in-out 0s;
                        -ms-transition: all 0.3s ease-in-out 0s;
                        -o-transition: all 0.3s ease-in-out 0s;
                        transition: all 0.3s ease-in-out 0s;
                        background: #0072ce;
                    }
                    &:hover {
                        &:before {
                            visibility: hidden;
                            width: 0;
                        }
                    }
                }
            }
        }
    }
}
.rewards-esmp-container{
    margin-bottom: 30px;
    margin-top: 79px;
    position: relative;
    width: 100%;
    @include media-xs {
        margin-bottom: 35px;
    }
    @include media-sm {
        margin-top: 180px;
    }
    @include media-xs-landscape {
        margin-top: 110px;
    }
    .rewards-esmp-intro {
        margin: 0 0 90px 0;
        width: 83%;
        @include media-xs {
            width: 100%;
        }
        @include media-sm {
            width: 90%;
        }
        @include media-xs {
            margin: 0 0 50px 0;
        }
        h1 {
            color: $dark;
            font-size: 100px;
            line-height: 88px;
            letter-spacing: 10px;
            @include acuminProExtraCondBlack();            
            text-transform: uppercase;
            display: block;
            width: 100%;
            margin-bottom: 21px;
            @include media-xs-portrait {
                font-size: 64px;
                line-height: 60px;
                letter-spacing: 6px;
            }
            @include media-xs {
                margin-bottom: 0;
                padding: 0 30px;
            }
        }
        p {
            font-family: $robotoLight;
            line-height: 30px;
            @include media-xs {
                line-height: 24px;
                padding: 0 30px;
            }
        }
    }
    .rewards-esmp-content-container {
        width: 95.5%;
        border-bottom: 1px solid #54585a;
        padding-bottom: 99px;
        @include media-xs {
            width: 100%;
            display: flex;
            flex-flow: column;
        }
        @include media-sm {
            width: 100%;
        }
        @include media-md {
            width: 100%;
        }
        h4 {
            text-transform: uppercase;
            margin: -8px 0 3px 0;
        }
        .rewards-esmp-content {
            vertical-align: top;
            display: inline-block;
            width: calc(100% - 541px);
            margin-right: 15px;
            @include media-xs {
                margin-right: 0;
                width: 100%;
                order: 2;
                padding: 0 30px;
            }
            @include media-sm {
                width: 47%;
            }
            @include media-md {
                width: 47%;
            }
            .rewards-esmp-steps {
                ul {
                    list-style: none;
                    margin: 57px 0 0 0;
                    padding: 0;
                    counter-reset: custom-counter;
                    @include media-xs {
                        margin: 50px 0 0 0;
                    }
                    li {
                        font-family: $robotoLight;
                        color: $dark;
                        font-size: 18px;
                        line-height: 18px;
                        position: relative;
                        counter-increment: custom-counter;
                        padding-left: 55px;
                        margin-bottom: 53px;
                        @include media-xs {
                            margin-bottom: 55px;
                        }
                        &:before {
                            display: none !important;
                        }
                        &:after {
                            content:counter(custom-counter);
                            position: absolute;
                            color: $white;
                            background-color: $blue;
                            border-radius: 100%;
                            font-family: $acuminProExtraCondBold;
                            letter-spacing: 1.8px;
                            font-size: 36px;
                            line-height: 48px;
                            top: 0;
                            left: 0;
                            height: 40px;
                            width: 40px;
                            text-align: center;
                        }
                        &:last-child {
                            margin-bottom: 0;
                        }
                        a {
                            font-family: $robotoLight;
                            color: $blue;
                            font-size: 18px;
                            line-height: 18px;
                            position: relative;
                            @include media-xs {
                                text-decoration: underline;
                            }
                            @include media-sm {
                                text-decoration: underline;
                            }
                            @include media-md {
                                text-decoration: underline;
                            }
                            &:before {
                                content: "";
                                position: absolute;
                                height: 1px;
                                bottom: 0;
                                right: 0;
                                visibility: visible;
                                width: 100%;
                                -webkit-transition: all 0.3s ease-in-out 0s;
                                -moz-transition: all 0.3s ease-in-out 0s;
                                -ms-transition: all 0.3s ease-in-out 0s;
                                -o-transition: all 0.3s ease-in-out 0s;
                                transition: all 0.3s ease-in-out 0s;
                                background-position: 0 0,0 100%,0 0,100% 0;
                                background-repeat: repeat-x;
                                background-size: 8px;
                                background: $blue;
                                @include media-xs {
                                    display: none;
                                }
                                @include media-sm {
                                    display: none;
                                }
                                @include media-md {
                                    display: none;
                                }
                            }
                            &:hover {
                                text-decoration: none;
                                color: $blue;
                                &:before {
                                    width: 0;
                                }
                            }
                        }
                        b, 
                        strong {
                            font-family: $robotoBold;
                        }
                    }
                }
            }
        }
        .img-container {
            vertical-align: top;
            display: inline-block;
            width: 521px;
            @include media-xs {
                width: 100%;
                order: 1;
                margin-bottom: 20px;
            }
            @include media-sm {
                width: 50%;
            }
            @include media-md {
                width: 50%;
            }
            img {
                max-width: 100%;
                max-height: 100%;
                object-fit: contain;
            }
        }
    }
}
.tools-tips-container{
    margin-bottom: 30px;
    margin-top: 79px;
    position: relative;
    width: 100%;
    @include media-xs {
        margin-bottom: 35px;
        padding: 0 30px;
    }
    @include media-sm {
        margin-top: 180px;
    }
    @include media-xs-landscape {
        margin-top: 110px;
    }
    .tools-tips-intro {
        margin: 0 0 122px 0;
        width: 83%;
        @include media-xs {
            width: 100%;
        }
        @include media-sm {
            width: 90%;
            margin: 0 0 102px 0;
        }
        @include media-xs {
            margin: 0 0 50px 0;
            width: 100%;
        }
        h1 {
            color: $dark;
            font-size: 100px;
            line-height: 88px;
            letter-spacing: 10px;
            @include acuminProExtraCondBlack();            
            text-transform: uppercase;
            display: block;
            width: 100%;
            margin-bottom: 21px;
            @include media-xs-portrait {
                font-size: 64px;
                line-height: 60px;
                letter-spacing: 6px;
            }
        }
        p {
            font-family: $robotoLight;
            line-height: 30px;
        }
    }
    h2 {
        text-transform: uppercase;
        color: $dark;
        @include media-xs {
            font-size: 40px;
            line-height: 40px;
        }
    }
    .tips-container {
        width: 95%;
        margin-bottom: 225px;
        @include media-md {
            margin-bottom: 145px;
        }
        @include media-sm {
            margin-bottom: 105px;
        }
        @include media-xs {
            margin-bottom: 70px;
            width: 100%;
        }
        ul {
            list-style: none;
            margin: 30px 0 0 0;
            padding: 0;
            counter-reset: custom-counter;
            li {
                font-family: $robotoLight;
                color: $dark;
                font-size: 18px;
                line-height: 18px;
                position: relative;
                counter-increment: custom-counter;
                padding-left: 55px;
                margin-bottom: 53px;
                @include media-xs {
                    margin-bottom: 55px;
                    line-height: 22px;
                }
                &:before {
                    display: none !important;
                }
                &:after {
                    content:counter(custom-counter);
                    position: absolute;
                    color: $white;
                    background-color: $blue;
                    border-radius: 100%;
                    font-family: $acuminProExtraCondBold;
                    letter-spacing: 1.8px;
                    font-size: 36px;
                    line-height: 48px;
                    top: 0;
                    left: 0;
                    height: 40px;
                    width: 40px;
                    text-align: center;
                }
                &:last-child {
                    margin-bottom: 0;
                }
                a {
                    font-family: $robotoLight;
                    color: $blue;
                    font-size: 18px;
                    line-height: 18px;
                    position: relative;
                    @include media-xs {
                        text-decoration: underline;
                    }
                    @include media-sm {
                        text-decoration: underline;
                    }
                    @include media-md {
                        text-decoration: underline;
                    }
                    &:before {
                        content: "";
                        position: absolute;
                        height: 1px;
                        bottom: 0;
                        right: 0;
                        visibility: visible;
                        width: 100%;
                        -webkit-transition: all 0.3s ease-in-out 0s;
                        -moz-transition: all 0.3s ease-in-out 0s;
                        -ms-transition: all 0.3s ease-in-out 0s;
                        -o-transition: all 0.3s ease-in-out 0s;
                        transition: all 0.3s ease-in-out 0s;
                        background-position: 0 0,0 100%,0 0,100% 0;
                        background-repeat: repeat-x;
                        background-size: 8px;
                        background: $blue;
                        @include media-xs {
                            display: none;
                        }
                        @include media-sm {
                            display: none;
                        }
                        @include media-md {
                            display: none;
                        }
                    }
                    &:hover {
                        text-decoration: none;
                        color: $blue;
                        &:before {
                            width: 0;
                        }
                    }
                }
                b, 
                strong {
                    font-family: $robotoBold;
                }
            }
        }
    }
    .tools-container {
        border-bottom: 1px solid #54585a;
        margin-bottom: 95px;
        padding-bottom: 11px;
        @include media-xs {
            margin-bottom: 30px;
            padding-bottom: 0;
            border-bottom: none;
            &:after {
                content: "";
                border-bottom: 1px solid #54585a;
                width: calc(100% + 60px);
                height: 1px;
                display: block;
                position: relative;
                bottom: 0;
                left: -30px;
            }
        }
        h2 {
            margin-bottom: 65px;
            @include media-xs {
                margin-bottom: 45px;
            }
        }
        .tools-item-container {
            margin-bottom: 51px;
            @include media-xs {
                margin-bottom: 30px;
            }
            &:last-child {
                margin-bottom: 0;
            }
            h4 {
                text-transform: uppercase;
                margin: -8px 0 0 0;
                letter-spacing: 1.8px;
            }
            p {
                font-family: $robotoLight;
                line-height: 20px;
                margin: 0;
            }
            .tools-item-intro-container {
                margin-bottom: 21px;
            }
            .tools-item {
                vertical-align: top;
                display: inline-block;
                width: 45%;
                margin-bottom: 40px;
                @include media-xs {
                    width: 100%;
                    margin-bottom: 50px;
                }
                @include media-md {
                    width: 48%;
                }
                @include media-sm {
                    width: 48%;
                }
                &:nth-child(odd) {
                    margin-right: 88px;
                    @include media-md {
                        margin-right: 20px;
                    }
                    @include media-sm {
                        margin-right: 20px;
                    }
                    @include media-xs {
                        margin-right: 0;
                    }
                }
                .img-container {
                    width: 59px;
                    height: 53px;
                    vertical-align: top;
                    margin-right: 32px;
                    display: inline-block;
                    @include media-xs {
                        margin-right: 4px;                        
                    }
                    @include media-md {
                        margin-right: 22px;                        
                    }
                    @include media-sm {
                        margin-right: 12px;
                    }
                    img {
                        max-width: 100%;
                        max-height: 100%;
                        object-fit: contain;
                    }
                }
                .tools-item-content {
                    vertical-align: top;
                    display: inline-block;
                    width: calc(100% - 100px);
                    @include media-xs {
                        width: calc(100% - 70px);
                    }
                    h5 {
                        margin-top: -5px;
                    }
                    p {
                        font-family: $robotoLight;
                        line-height: 30px;
                        margin-bottom: 0;
                    }
                    a {  
                        font-family: $robotoLight;
                        font-size: 18px;
                        font-weight: normal;
                        font-style: normal;
                        font-stretch: normal;
                        line-height: 30px;
                        letter-spacing: normal;
                        color: $blue;
                        &:hover {
                            &:before {
                                visibility: hidden;
                                width: 0;
                            }
                        }
                        &:before {
                            content: "";
                            position: absolute;
                            width: 100%;
                            height: 1px;
                            bottom: 0;
                            right: 0;
                            visibility: visible;
                            -webkit-transition: all 0.3s ease-in-out 0s;
                            -moz-transition: all 0.3s ease-in-out 0s;
                            -ms-transition: all 0.3s ease-in-out 0s;
                            -o-transition: all 0.3s ease-in-out 0s;
                            transition: all 0.3s ease-in-out 0s;
                            background: $blue;
                        }
                    }
                    .download-link {
                        margin-top: 30px;
                        display: inline-block;
                        line-height: 18px;
                        @include media-xs {
                            margin-top: 20px;
                        }
                    }
                }
            }
        }
    }
}
.opt-out-container {
    margin-bottom: 159px;
    @include media-sm {
        margin-bottom: 129px;
    }
    @include media-xs {
        margin-bottom: 99px;
    }
    @include media-lg {
        margin-left: -31px;
    }
    @include media-xs {
        padding: 0 30px;
    }
    @include media-sm {
        padding: 0 60px;
    }
    .opt-out-intro {
        width: 75%;
        @include media-xs {
            width: 100%;
        }
        @include media-sm {
            width: 90%;
        }
        @include media-md {
            width: 90%;
        }
        p {
            font-family: $robotoLight;
            font-size: 22px;
            line-height: 34px;
            color: #000000;
        }
    }
    .form-container {
        .custom-checkbox {
            font-size: 22px;
            line-height: 30px;
            padding-top: 0;
            padding-left: 87px;
            min-height: 36px;
            margin-bottom: 53px;
            @include media-xs {
                line-height: 26px;
                padding-left: 65px;
                letter-spacing: 0.5px;
            }
            &:last-child {
                padding-top: 0;
            }
            &:first-child {
                margin-bottom: 53px;
            }
            input {
                &:checked {
                    ~ .checkbox-indicator {
                        &:after {
                            width: 37px;
                            height: 37px;
                            background-image: url("../../../App_Themes/Milk/images/checkbox-selected-opt.svg");
                        }
                    }
                }
            }
            .checkbox-indicator {
                width: 37px;
                height: 37px;
                top: -4px;
                @include media-xs-portrait {
                    top: 3px;
                }
                &:after {
                    width: 37px;
                    height: 37px;
                    background-image: url("../../../App_Themes/Milk/images/checkbox-opt.svg");
                }
            }
        }
        .agree-checkbox {
            margin: 93px 0 106px 0;
            @include media-xs {
                margin: 60px 0 76px 0;
            }
            @include media-sm {
                margin: 73px 0 86px 0;
            }
            @include media-md {
                margin: 83px 0 96px 0;
            }
        }
    }
    .btn-container {
        .primary-btn {
            &:first-child {
                margin-right: 50px;
                @include media-xs-portrait {
                    margin-right: 0;
                    margin-bottom: 30px;
                }
            }
            @include media-xs-portrait {
                width: 100%;
            }
        }
    }
}
.page-not-found-container {
    margin-top: 19px;
    margin-bottom: 159px;
    @include media-sm {
        margin-bottom: 129px;
    }
    @include media-xs {
        margin-bottom: 99px;
        padding: 0 30px;
        margin-top: 0;
    }
    h3 {
        text-transform: uppercase;
    }
    span {
        display: block;
        font-family: $robotoLight;
        font-size: 30px;
        line-height: 34px;
        color: $dark;
        margin-bottom: 25px;
        @include media-xs  {
            font-size: 22px;
            line-height: 26px;
        }
    }
    p {
        font-family: $robotoLight;
        font-size: 22px;
        line-height: 26px;
        color: $dark;
        margin: 0 0 5px 0;
        @include media-xs {
            margin: 0 0 15px 0;
        }        
    }
    ul {
        list-style: none;
        margin: 0 0 33px 0;
        padding: 0;
        width: 100%;
        @include media-xs {
            margin: 0 0 20px 0;
        }
        li {
            position: relative;
            padding-left: 15px;
            margin-bottom: 0;
            font-family: $robotoLight;
            font-size: 22px;
            line-height: 30px;
            color: $dark;
            @include media-xs {
                margin-bottom: 5px;
            }
            &:before {
                content: "";
                color: $blue;
                display: inline-block;
                border: 1px solid $blue;
                border-radius: 100%;
                width: 8px;
                height: 8px;
                position: absolute;
                top: 10px;
                left: 0;
            }
        }
    }
    .primary-btn {
        padding: 12px 40px 14px 40px;
        @include media-xs-portrait {
            width: 100%;
            padding: 12px 20px 14px 20px;
        }
    }
}