.terms-cond-container {
    margin-bottom: 150px; 
    margin-top: 79px;
    @include media-xs {
        margin-bottom: 90px;
    }
    @include media-sm {
        margin-top: 180px;
    }
    @include media-xs-landscape {
        margin-top: 110px;
    }
    .terms-cond-title {
        margin: 0 0 80px 0;
        @include media-xs-portrait {
            margin: 0 0 50px 0;
        }
        h1 {
            color: $dark;
            font-size: 100px;
            line-height: 88px;
            letter-spacing: 10px;
            @include acuminProExtraCondBlack();            
            text-transform: uppercase;
            display: block;
            width: 50%;
            @include media-xs {
                width: 80%;
            }
            @include media-xs-portrait {
                width: 100%;
                font-size: 64px;
                line-height: 60px;
                letter-spacing: 6px;
            }
        }
    }
    .terms-cond-container-intro {
        margin-bottom: 50px;
        @include media-xs {
            margin-bottom: 40px;
        }
        ul {
            list-style: none;
            padding: 0;
            margin: 0 0 25px 0px;
            li {
                padding-left: 25px;
                @include media-xs {
                    padding-left: 15px;
                }
            }
        }
    }
    ul {
        list-style: none;
        padding: 0;
        margin: 0;
    }
    .t-c-sublink,
    .t-c-link,
    p {
        font-family: $robotoLight;
        font-size: 18px;
        line-height: 30px;
        color: $blue;
        @include media-xs {
            line-height: 24px;
        }
    }
    .t-c-link {
        font-family: $robotoBold;
        text-transform: uppercase;
    }
    .t-c-sublink,
    .t-c-link {
        display: block;
    }
    p {
        color: $dark;
        margin-bottom: 0;
        width: 95%;
        display: inline-block;
        vertical-align: top;    
        @include media-xs {
            width: 90%;
        }
    }
    ol {
        padding: 0 0 0 45px;
        margin: 0;
        list-style: none;
        position: relative;
        counter-reset: alpha;
        li {
            font-family: $robotoLight;
            font-size: 18px;
            line-height: 30px;
            color: $dark;
            &:before {
                counter-increment: alpha;
                content: "(" counter(alpha, lower-alpha) ") ";
                position: absolute;
                left: 20px;
            }
        }
    }
    .num {
        display: inline-block;
        vertical-align: top;    
        font-family: $robotoLight;
        font-size: 18px;
        line-height: 30px;
        color: $dark;
        @include media-xs {
            line-height: 24px;
        }
    }
    hr {
        border: none;
        margin: 0 0 35px 0;
        display: block;
        @include media-xs {
            margin: 0 0 25px 0;            
        }
    }
}